[2021-01-06 12:40] remonh87 opened #2 "Provide meaningful output for mock data"
**Describe the bug**
When mock verification fails the output in the console is:

[code]

**To Reproduce**
Create a test containing a mock and a test where the `verify` invocation fails.

e.g. `verify(cat).calls('incorrect').times(1);`

**Expected behavior**
Provide an exact message which verification of which object and method fails.  Something like:

`Expected cat.incorrect to be called 1 time(s)

[2021-01-06 14:34] remonh87 opened #3 "More strict matchers for arguments"
**Describe the bug**
Given the following class

[code]

and following test

[code]

The last test should fail.

**Expected behavior**
I would expect that the last verification should fail. I did check the source code if I could create a fix for it but I was not able to.  Also else it would be good to update the documentation that this use case is not supported.

[2021-01-08 15:34] iapicca opened #4 "Cannot verify calls with unknown arguments"
**Describe the bug**
using  `mocktail: ^0.0.1-dev.4`
I'm experiencing difficulties to  `verify` `calls` in a situation where I cannot provide the arguments with `withArgs`
getting the error below
`NoSuchMethodError: Class 'MockErrorHandler' has no instance method 'call' with matching arguments.`

**To Reproduce**

<details>
<summary>code sample</summary>

[code]

</details>

while seems like I can

[2021-01-08 17:03] iapicca commented on #4
never mind
I just forgot `when(_errorHandler).calls('call').thenAnswer((any) => Object());`

[2021-01-08 17:03] #4 closed

[2021-01-08 17:41] #2 closed

[2021-01-09 05:53] #3 closed

[2021-01-09 13:08] remonh87 commented on #3
Thanks for fixing this quickly!

[2021-01-26 11:38] svarlet opened #10 "Not sure how to verify a void method was called"
**Describe the bug**
Given 2 classes A and B, when A uses a void method of B, we can't verify that this call happens.

**To Reproduce**
Full example in one simple file: https://gist.github.com/svarlet/337c0d3234cc3ba67c7d96adf788c092
Run the test, the output shows an error:

[code]

**Expected behavior**
I appreciate that the method is not stubbed, thus Mocktail is correctly reporting it to me. Ho

[2021-01-26 22:05] felangel commented on #10
Hi @svarlet 👋
Thanks for opening an issue!

You should be able to do:

[code]

Let me know if that helps 👍

[2021-01-27 11:40] svarlet commented on #10
Thanks for your prompt answer.
Let's appreciate that we have a workaround! However, I only found it by candidly trying `.thenReturn(1)`. I suppose, this could be documented on the project's main page to help others until a solution is found?

Speaking of solutions, this behaviour is hard-to-discover, and error prone: over time, a void method can change to a method returning a different type, leadi

[2021-01-29 17:12] dan-leech opened #13 "NoMoreInteractions like in Mockito"
@felangel what do you think about NoMoreInteractions to be sure that no other methods were called?

[2021-01-29 17:40] felangel commented on #13
Hi @dan-leech 👋
Thanks for opening an issue!

Currently, you can use `verifyMocks` to ensure that all stubs were used like:

[code]

But I agree it would be nice to also introduce support for verifying no further interactions occurred 👍

[2021-02-03 10:56] svarlet commented on #10
Hi there,
I saw the changelog for 0.0.1-dev.10, it advertises that we can now use `.thenReturn()`. Yet, after upgrading my dependency, and replacing a `.thenReturn(1)` by `.thenReturn()`, this does not compile:

``` 1 positional argument expected but 0 found.```

[2021-02-04 17:04] felangel commented on #10
@svarlet it should be available. Can you share a complete reproduction sample? For reference you can see the tests https://github.com/felangel/mocktail/blob/37898ba3d45810c1c849cbb4217b4fbd2c550eeb/test/mocktail_test.dart#L482

[2021-02-08 06:04] felangel commented on #10
Closing for now since but if you feel this is still an issue feel free to provide a reproduction sample and I’m happy to take a closer look 👍

[2021-02-08 06:04] #10 closed

[2021-02-08 18:01] svarlet commented on #10
Hi!
Apologies for the late reply.
Here is an example with the following function:
[code]
which I stub like this:
[code]
and
[code]

which causes the following error on `.thenReturn()`
[code]

Perhaps I should report that I'm on the flutter beta channel, and writing null safe code?

[2021-02-08 18:13] felangel commented on #10
@svarlet no worries! Are you sure you're using the latest version of mocktail? You might want to wipe your pub-cache just to be sure 👍

[2021-02-09 12:57] svarlet commented on #10
Hi @felangel , you were right, somehow I didn't have the latest version. I can now confirm that it works as expected!
Thanks

[2021-02-15 13:05] svarlet opened #16 "Future proofing"
**Is your feature request related to a problem? Please describe.**
When we create a test double (stub, mock, other...) for a class which defines a method that returns a future, it is tempting to use Mocktail to return a canned future. This is a good approach to improve speed and reliability. Yet it must be arranged in a careful way to avoid complications.

Mocktail should prohibit developers to re

[2021-02-24 17:07] MaxAuer opened #17 "Overhead on refactor of class"
**Is your feature request related to a problem? Please describe.**
When I rename the method of a class that is mocked I have to manually update the tests.

Lets assume this simple class:

[code]

In a test the class would be mocked:
[code]

First, there is no IntelliSense for `#add` which could introduce typos. Second, if `add` would be renamed I need to manually fix the `#add` in the tests.

**De

[2021-03-01 16:10] svarlet commented on #17
I also find that it's easy to rename a method and find breaking tests later on. Though, as I TDD, I normally find this soon after and the required change is obvious.

[2021-03-02 07:27] maks opened #19 "Using a Delayed Future in Widget test stops the test from completing"
@felangel thanks for this fantastic package, you've saved mocking for us in the NS age!

I've have run into an issue though and I'm not sure if this is a case of my not doing something correctly but I've found that trying to use `Future.delayed()` in a mocked method in a widgetTest causes the test to hang and never complete.

My code is:
[code]

where `requestCode()` calls the `ApiService` objects

[2021-03-02 11:00] iapicca opened #20 "[NOT A BUG] I could use some help to understand this error"
It's `not a bug`, I'm just having hard time to understand this error

**To Reproduce**

I'm not sure how to provide a repro code without dumping hundreds of lines of code.
The code below **_WORKS_** but is very close (in principle) and the mocks have the _same identical implementation_.

[code]
[code]

**Logs **

this is the error that I struggle to understand

[code]
I honestly don't understand t

[2021-03-02 15:14] felangel commented on #17
Hi @MaxAuer 👋
Thanks for opening an issue!

This is definitely a limitation of using `Symbols` and while I'm still exploring alternative approaches it seems unlikely that we'll be able to support custom matchers while also having a type-safe API. As @svarlet mentioned the tests should fail which will be the indication to update them but I will definitely keep brainstorming possible alternatives (h

[2021-03-02 15:28] felangel commented on #20
Hi @iapicca 👋
Thanks for opening an issue!

This is a duplicate of #16. Currently, `mocktail` does not automatically handle void callbacks for you and you must explicitly stub each method.

In this case you can use and empty `thenReturn` for simplicity:

[code]

Let me know if that helps 👍

[2021-03-02 17:16] iapicca commented on #20
@felangel
thank you for your answer, I'll just follow up there

[2021-03-02 17:16] #20 closed

[2021-03-06 06:28] felangel commented on #17
Just published a type safe prerelease of mocktail 🎉

https://twitter.com/felangelov/status/1368080170695921664?s=21

[2021-03-06 17:22] felangel commented on #19
Hi @maks 👋
Thanks for opening an issue!

Are you still able to reproduce this in the latest release (v0.0.2-dev.2)? Thanks! 🙏

[2021-03-06 17:23] felangel commented on #13
This is available in v0.0.2-dev.2 🎉

[2021-03-06 17:23] #13 closed

[2021-03-06 17:24] felangel commented on #16
This has been addressed by #22 and is available in v0.0.2-dev 🎉

[2021-03-06 17:24] #16 closed

[2021-03-06 22:22] creativecreatorormaybenot opened #24 "Problems with mockito"
Hi :)

As `mocktail` looks like a promising alternative to `mockito` that still provides a nice API, I was wondering how `mocktail` solves the problems that made `mockito` turn ugly :)

I checked the repo and could not find this documented anywhere. So essentially: how does `mocktail` solve the problems described at https://github.com/dart-lang/mockito/blob/9f107e6805f1778cc611f369a8b3338ebf120639

[2021-03-06 22:24] felangel commented on #24
Hey @creativecreatorormaybenot 👋
Thanks for opening an issue!

mocktail solves these issues by wrapping the stubs and verifications in a closure which allows the library to execute the stub/verification and handle the TypeError internally. Hope that helps! 👍

[2021-03-06 22:31] creativecreatorormaybenot commented on #24
Thanks a lot for the response @felangel ❤️

Further questions: how does this compare to `mockito`? Are there drawbacks to the `mocktail` approach?

From your perspective: would you say this is a better approach or just different (emphasis on "your perspective" 🙃)?

[2021-03-06 22:38] felangel commented on #24
No problem! The main drawback to this approach is that if you want to use an arg marcher (any, captureAny) for a custom type you need to register a fallback value

[code]

I personally think that this approach is still easier, more convenient, and closer to the previous mockito api than the latest mockito release. I’ve opened a proposal to merge mocktail into mockito which you can check out at htt

[2021-03-06 22:40] creativecreatorormaybenot commented on #24
I see, thanks a lot for @felangel 🙏

My strawman take on this is that I agree with you 😜 Furthermore, I do not think that arg matchers are worth destroying the syntax anyway 😄 I have not yet experienced cases where I would need them in unit testing.

[2021-03-06 22:47] creativecreatorormaybenot commented on #24
Do you want to leave this open as a reference for others @felangel?

Otherwise, I would be fine with closing this. Although an in-depth explanation going into the technical details would likely be helpful in general. I suppose one could also transform this into a documentation request :P

[2021-03-06 23:12] felangel commented on #24
Yeah let’s keep it open until we document the approach better 👍

[2021-03-07 12:51] kuhnroyal commented on #24
Thanks for sharing this information and your views! Maybe pin this issue :)

[2021-03-07 12:54] kuhnroyal opened #25 "verifyInOrder not working and no example test"
**Describe the bug**
I tried migrating some simple mockito tests and got pretty much everything working except my `verifyInOrder([])` calls.

I am not sure what to pass as arguments there. I tried passing the calls directly and also as closure but neither of these approaches worked.

[2021-03-07 15:43] felangel commented on #25
Hi @kuhnroyal 👋
Thanks for opening an issue!

This should be fixed in [v0.0.2-dev.3](https://pub.dev/packages/mocktail) 👍

Example usage:

[code]

Hope that helps and sorry for the inconvenience!

[2021-03-07 16:08] kuhnroyal commented on #25
Thanks for your work!

Not sure that fixes it, try adding `verifyNoMoreInteractions(cat)` at the end.
It seems only the first parameter is evaluated or counted.

[2021-03-07 16:17] felangel commented on #25
Can you share a reproduction sample?

[2021-03-07 16:22] kuhnroyal commented on #25
I am trying this but I don't have a full example that I can share.

[code]

[2021-03-08 05:50] felangel commented on #25
@kuhnroyal sorry for the inconvenience! I realized the issue is each verification needs to be wrapped in it's own closure in order to evaluate them all. Just included the fix in v0.0.2-dev.4 and the updated usage should look like:

[code]

Hope that helps!

[2021-03-08 05:52] #17 closed

[2021-03-08 10:07] svarlet commented on #16
Hi @felangel ,

I don't think #22 addresses it. Doing `.thenReturn(Future(() => "a value"))` is still going to schedule the future right now, and quite possibly make it complete before the stub is exercised by the production code. Then, the production code will get a completed future, thereby making it run ~asynchronously~ synchronously.

Have I missed anything? If so, can you explain?

[2021-03-08 11:32] kuhnroyal commented on #25
Thanks a lot! Everything is working now.

[2021-03-08 11:32] #25 closed

[2021-03-08 12:00] svarlet commented on #10
Hi @felangel , is this behaviour maintained in the latest (aka type safe) version of mocktail?
Right now I see this method signature:

[code]

Thus, there's a problem showing up asking to be resolved by providing a value.

[2021-03-08 14:34] felangel commented on #10
In the latest version you need to pass null but I can change back to the previous behavior. My goal with the latest version was to stay as close to the mockito api as possible with hopes that mocktail could be merged into mockito.

[2021-03-08 18:18] svarlet commented on #10
Ok, thanks for explaining your intent. If your goal is to merge into mockito instead of maintaining a separate project, I can live with the obligation to return null when stubbing a void function.

[2021-03-08 18:57] felangel commented on #10
@svarlet no problem! You can follow the [discussion to merge mocktail into mockito](https://github.com/dart-lang/mockito/issues/347) and based on the outcome we can re-evaluate if it makes sense to customize the API.

[2021-03-08 19:00] felangel commented on #19
@maks any updates or can this be closed?

[2021-03-08 22:22] maks commented on #19
@felangel sorry for the slow reply, its been a long weekend holiday here.
I've upgraded to `0.0.2-dev.5` and changed my test to now use new type-safe syntax:
[code]

But unfortunately still seeing the test hang.

[2021-03-08 22:27] felangel commented on #19
@maks no worries thanks for getting back to me!

Just to clarify, you said this was not a problem using `mockito`?

I think this is expected because in a widget test you will need to use [`tester.runAsync(() {...})`](https://api.flutter.dev/flutter/flutter_test/WidgetTester/runAsync.html) in this situation.

[2021-03-08 23:32] maks commented on #19
@felangel actually I realised when I looked again at my test that I was making it more complicated than it needed to be as I could just override my providers state and not even need to worry about the async behaviour.

I still think there maybe an issue with async handling as I would have expected that FakeAsync to work with the Future I was declaring inside the FaskAsync Zone, but I'll close this

[2021-03-08 23:32] #19 closed

[2021-03-11 15:03] fabriziocacicia opened #28 "mocktail 0.0.2-dev.5 is incompatible with test >=1.16.7"
**Describe the bug**
The issue is caused by having both `mocktail 0.0.2-dev.5` and ` test 1.16.7` in `pubspec.yaml`

[code]

[2021-03-11 16:08] moseskarunia opened #30 "Small typo in error message"
# What's written

[code]

# What's should be written

`setUpAll` instead of `setupAll`.

# Note

Yeah I know it's just a small thing. But an inconsistency can feels somewhat troubling for a perfectionist. lol

Should I submit a PR for this?

[2021-03-11 18:56] #28 closed

[2021-03-11 18:56] #30 closed

[2021-03-11 20:03] felangel commented on #30
Hi @moseskarunia 👋
Thanks for bringing this up!

I quickly pulled it in as part of #29 and it's now published in 0.0.2-dev.6 🎉

[2021-03-12 02:08] moseskarunia commented on #30
Thank you felix!

[2021-03-21 13:32] haashem opened #37 "`When` throws exception when stubbing response"
Here we have:
[code]

then in test file:
[for demonstration, test doesn't do anything]

[code]

then it throws

[code]
I have upgraded 'bloc_test' to 8.0.0 and while updating the tests because of syntax change, I face the above error.

What am I doing wrong?

<details>
  <summary>Flutter doctor</summary>

[code]
</details>

[2021-03-22 10:48] SAGARSURI commented on #37
Weird! For me, the test case passed.

[2021-03-22 13:33] felangel commented on #37
Hi @haashem 👋
Thanks for opening an issue!

Are you using mocktail instead of mockito? I’m guessing you are still using mockito which is why the test is failing. If you’re having trouble after switching to mocktail then can you please provide a complete reproduction sample? Thanks!

[2021-03-22 16:24] haashem commented on #37
Hi Team,
I have updated the sample code.  create a test file in test folder and paste the above code.
Then enable `All Exceptions` breakpoint in Debugger panel.
and debug test. you will see the exception.

<img width="848" alt="Screen Shot 2021-03-22 at 20 22 07" src="https://user-images.githubusercontent.com/3206748/112023122-613b8c80-8b4c-11eb-98e3-75c9d98eb6ab.png">

[2021-03-22 16:28] felangel commented on #37
@haashem that is expected because you have enabled `All Exceptions`. `mocktail` handles the `TypeError` internally. I would recommend changing your VSCode debugger settings to `Unhandled Exceptions`.

[2021-03-22 16:32] haashem commented on #37
Great for hint, I saw even with that issue most of my tests passed, but still a few I them complaining, issuing the same error!
I will provide my real test in another post.
<img width="722" alt="Screen Shot 2021-03-22 at 20 31 02" src="https://user-images.githubusercontent.com/3206748/112024350-8a105180-8b4d-11eb-902b-dacf21fbba37.png">

[2021-03-22 16:44] haashem commented on #37
Here is the real demo:

IAuthFacade:

[code]

Test case:

[code]

[2021-03-23 08:38] dan-leech opened #38 "Partial mock"
I'm not sure that it's possible in Dart, but it would be nice to have partial mock.

What it means:
You have a mocked class with methods.
Any method works as in a real class instance until you apply 'when' to the method.

[2021-03-24 09:44] resfandiari commented on #37
Hi, @felangel  thanks for the best package.
I have the same error and some of my tests failed. how can I change android studio debugger settings to Unhandled Exceptions?

[2021-03-26 00:44] GiteshDalal opened #39 "Operator == implementation must use dynamic instead of Object type"
https://github.com/felangel/mocktail/blob/1d09cb2898dc9a6b27f82c1962515308bb7afa5d/packages/mocktail/lib/src/mocktail.dart#L140

`bool operator ==(dynamic other) => identical(this, other);`

In some cases Object doesnt work.
Example -
`Mock.==' ('bool Function(Object)')` isn't a valid override of `'GoogleSignInAccount.==' ('bool Function(dynamic)').`

[2021-03-26 17:48] felangel commented on #39
Hi @GiteshDalal 👋
Thanks for opening an issue!

This should be updated in the underlying project because we should prefer to use `Object` in favor of `dynamic` when overriding `==`.

For now, you can use a mixin to address this issue:

[code]

Then you can mixin this is when defining a mock instance:

[code]

Hope that helps 👍

[2021-03-26 17:58] felangel commented on #38
Hi @dan-leech 👋
Thanks for opening an issue!

As far as I know, I don't think this would be possible with the current approach because `when` works by relying on `noSuchMethod` which would not be triggered if there was a real method which could be invoked in the first place.

I also think this would be confusing because it wouldn't be obvious which methods are stubs and which are real. In my opini

[2021-04-01 05:46] felangel commented on #39
Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2021-04-01 05:46] #39 closed

[2021-04-04 04:36] Amir-P opened #40 "registerFallbackValue seems to be not working as intended"
I'm using `registerFallbackValue` at the top level of my `main` function to register a type instance. But tests are failing with logs telling me to use `registerFallbackValue` for the type I'm trying to `any` on it.

[code]

**To Reproduce**
[code]

[code]

**Logs**
[code]

[2021-04-04 04:40] Amir-P commented on #40
Ok I found the problem within a minute after creating the issue. `setUp` is calling before every `test` not `group`. So stubbing should be done inside a `test`.

[2021-04-04 04:40] #40 closed

[2021-04-04 13:09] dan-leech commented on #38
@felangel You are right this is not good practice to use this, but btw https://javadoc.io/doc/org.mockito/mockito-core/latest/org/mockito/Mockito.html#16

[2021-04-06 19:10] rich-j commented on #40
@felangel, we encountered this too (and took longer than a minute to figure it out). It would be useful if there were a different message printed for `when` clauses using `any` in the `group` that explicitly mentions that `any` has to be in a `test`.

BTW, thanks for this package. The new Mockito generator didn't understand many things (covariant parameters, parameters on `toString`, even `Iterabl

[2021-04-06 19:39] felangel commented on #40
Hi @rich-j 👋
Thanks for the positive feedback! I really appreciate it 🙏

Are you able to provide a simple reproduction sample of the problem you were facing? I'm happy to improve the error messaging, thanks! 👍

[2021-04-06 20:41] rich-j commented on #40
@felangel  The example provided by @Amir-P above shows the issue. This sequence

[code]
will continue to tell you to add a `setup` that calls `registerFallbackValue` even after you add the recommended code.

The only way to make it work is to move the `when` into the `test`
[code]

[2021-04-06 20:43] felangel opened #41 "feat: improve `registerFallbackValue` error messaging"
@felangel  The example provided by @Amir-P above shows the issue. This sequence

[code]
will continue to tell you to add a `setup` that calls `registerFallbackValue` even after you add the recommended code.

The only way to make it work is to move the `when` into the `test`
[code]

_Originally posted by @rich-j in https://github.com/felangel/mocktail/issues/40#issuecomment-814425894_

[2021-04-06 20:44] felangel commented on #40
Got it, thanks for clarifying 👍

I've created #41 to track this improvement 😄

[2021-04-08 13:44] elian-ortega opened #42 "Cubit Testing: Bad state: A test tried to use `any` or `captureAny` on a parameter of type `T State`, but registerFallbackValue was not previously called to register a fallback value for `T State`"
**Describe the bug**
I'm migrating one personal project to the latest versions and null safety. But I'm having problems doing widget testing on the latest version with mocktail and cubit.

**Test I'm trying to run **
[code]

**Error I'm getting**
[code]

I already tried doing what the error message says, but I'm still getting the same error.

[2021-04-08 14:35] felangel commented on #42
Hi @elian-ortega 👋
Thanks for opening an issue!

As the error indicates, you need to register fallback values for the bloc event and state. You can add these following lines to your test:

[code]

Hope that helps 👍

[2021-04-08 15:31] elian-ortega commented on #42
It works! Thank you very much @felangel!

In my case it was only the state because I'm using cubit, so I did this to fix it:

[code]

**Something more**
I just have one question, Why is it necessary to register the fall back value and mocking the state and event ?

![image](https://user-images.githubusercontent.com/54898038/114054117-cbdb1080-984c-11eb-83c2-bdcd790c552f.png)

[2021-04-08 15:32] #42 closed

[2021-04-12 12:25] Albert221 commented on #41
Hi! I just stumbled upon the:

[code]

I thought that my use case and/or thought process will help you improve the error message.

I am using both `mockito` and `bloc_test` in my tests, but I have import on `mocktail` (aliased `mocktail`) in my test file where I need mocked cubit. I have this code:

[code]

This is what I'd do in Mockito. But this throws the error above. I'm not sure why does this

[2021-04-13 02:36] felangel commented on #41
Hi @Albert221 👋
Sorry for the inconvenience! This is currently working as expected as described in https://github.com/felangel/mocktail/issues/42#issuecomment-815875700. Let me know if that helps 👍

[2021-04-17 07:49] haashem commented on #37
@felangel Is there any update? or any bottlenecks?

[2021-04-18 19:46] felangel commented on #37
Hi @haashem 👋
Sorry for the delayed response!

I believe the issue with your test is the values for the parameters you are providing in the stub don't match the values of the parameters being provided when the method is being called. This change was made to align with how mockito works.

If you want the stub to match any parameter you can use the `any()` matcher in `mocktail`.

[code]

Hope that h

[2021-04-19 07:43] #37 closed

[2021-04-26 01:50] felangel commented on #41
Closing this because this is working as expected. In the above example, `when` is evaluated before `setUpAll` which means that `registerFallbackValue` hasn't been called yet. In general, I don't recommend using `when` outside of `setUp` or `test` because it will likely result in unexpected behavior since that code will be evaluated prior to any test setup or execution.

[2021-04-26 01:50] #41 closed

[2021-04-26 01:51] felangel commented on #38
Thanks for providing the link. Closing this for now since I'd prefer to avoid introducing support for this based on our discussion and we can revisit this topic at a later time if needed 👍

[2021-04-26 01:51] #38 closed

[2021-05-04 04:09] claudneysessa opened #44 "dartargument_type_not_assignable -> How to make a Mock of an http.Client simulating a get?"
I'm using the package:
 * mocktail: ^0.1.2

How to make a Mock of an http.Client simulating a get?

When trying to execute:
[code]

It presents the following error:
The argument type 'ClientMock' can't be assigned to the parameter type 'dynamic Function()'.dartargument_type_not_assignable

I tried the following code too:
[code]

It presents the following error:
The argument type 'Future<Response>

[2021-05-10 23:49] shinayser opened #45 "Throws type 'Null' is not a subtype of type 'Future<void>'"
I think I found a bug, mostly with the error message throw that can causes confusion:

Consider the following classes:

[code]

Now the following test that mocks the DataProvider call and everything works fine:

[code]

Now if you add a second `when` call, that mocks the method from the repository, we get the error:
```type 'Null' is not a subtype of type 'Future<void>```:

[code]

I know that cal

[2021-05-14 20:58] felangel commented on #45
Hi @shinayser 👋
Thanks for opening an issue!

I believe the problem is you are using `when` on a "real" instance. `when` should only be called with `Mock` instances. Hope that helps 👍

[2021-05-17 23:29] MatiSanchez commented on #45
Hi!! I don't know if it's the same case (or maybe it's my error..)

But I am trying to update to _null safety_ the _ResoCoder TDD Clean Architecture Course_ using _mocktail_ and I am getting the same error..
**number_trivia_repository_impl_test.dart**

[code]

Result test

[code]

I pass you the other classes..

**number_trivia.dart**

[code]

**number_trivia_model.dart**

[code]

**number_trivia_

[2021-05-20 20:37] felangel commented on #44
Hi @claudneysessa 👋
Thanks for opening an issue!

The following seems to work for me:

[code]

Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2021-05-20 20:37] #44 closed

[2021-05-20 20:50] felangel commented on #45
Hi @shinayser 👋
Thanks for opening an issue!

The reason why you're seeing that error is because the real outerRepo call invokes `justAFutureFunction` on the mock innerRepo which is not stubbed. I'll see what I can do to try to improve the error 👍

[2021-05-20 21:45] felangel commented on #45
@MatiSanchez the following works for me:

[code]

[2021-05-20 21:48] felangel commented on #45
@shinayser looked into this a bit more closely and I think the error message is accurate because technically `doSomethingWithTheRepository` invokes `justAFutureFunction` on a mock instance which hasn't been stubbed. This results in the `justAFutureFunction` returning `null` when the return type should be `Future<void>` hence the error message:

`type 'Null' is not a subtype of type 'Future<void>`

[2021-05-20 21:48] #45 closed

[2021-05-20 21:52] shinayser commented on #45
I never said that this is not working. Mocktail is working fine!
The point of my issue is to improve the error message and prevent errors ocurring to other people.
It tooks me lots of time to realize that this was the cause of the problem and like I said, this code works on Mockito.  So is highly probable that some other people will suffer from the same problem.

[2021-05-21 21:46] felangel commented on #45
Yeah I totally get it. The issue is this is a really specific case where you are stubbing a method on a real instance which invokes a method on a mock instance. For example if you changed your code to the following:

[code]

Then you'll get the expected error:

`Bad state: No method stub was called from within `when()`. Was a real method called, or perhaps an extension method?`

The reason for the

[2021-05-22 12:58] MatiSanchez commented on #45
Ty @felangel! I had a feeling that I was doing something wrong..

[2021-05-22 14:56] flutter-evangelist commented on #45
@MatiSanchez Hi Mati, what was it. I'm also facing the same issue and I couldn't figure it out yet.

[2021-05-22 15:59] MatiSanchez commented on #45
@flutter-evangelist Hi!

You need to create the stub of the methods into the mocks that you will use in your tests.

For example, I advanced with the migration of the tutorial and in the part when `NumberTriviaRepositoryImpl` use cache with `SharedPreferenes`, you need to create the stub for the `cacheNumberTrivia` method:

[code]

Btw, I don't know if this is the correct way to handle methods tha

[2021-05-22 16:28] flutter-evangelist commented on #45
Oh okay, thanks for the explanation, I guess I'm having a different problem. For some reason, the params are not matching up, even though I give the same exact value, and the hashcode also matches. If I give any() then it works.

[2021-05-22 17:26] MatiSanchez commented on #45
@flutter-evangelist Can you provide the code please?

[2021-05-25 05:25] #24 closed

[2021-05-25 21:27] shinayser opened #48 "Error: Was a real method called, or perhaps an extension method?"
Hello folks its me again!
After our talk about creating an extensions library (https://github.com/felangel/mocktail/pull/46) I started the project and faced the first problem of this approach:
I moved the extension function to inside my project like that:

[code]
Please note that I had to change the call as it was in the PR, because the method `_completeAnswer` is private in `mocktail`, so we can'

[2021-05-25 21:34] felangel commented on #48
Hi @shinayser 👋
Thanks for opening an issue!

The following works for me:

[code]

If you're still having trouble can be please provide a reproduction sample? Thanks 👍

[2021-05-25 21:37] shinayser commented on #48
Forget @felangel I was just being stupid. I forgot to stub the repository class 😅😅😅😅😅😅😅😅😅

Lest just go back in time and forget I've opened this issue.
Thanks =D

[2021-05-25 21:37] #48 closed

[2021-05-26 08:39] wim07101993 opened #49 "Verify does not seem to work with named arguments"
**Describe the bug**
Verify does not seem to work with named arguments

**To Reproduce**
My code:
[code]

**Expected behavior**
The verify should succeed

**Logs **
Paste the output of running `flutter doctor -v` here.
[code]

[2021-05-26 08:41] #49 closed

[2021-05-26 08:42] wim07101993 commented on #49
It works, was looking at a exception....

[2021-05-27 14:54] TheOneAndOnlyGarcia opened #50 "[Not A Bug]: How to stub inner callbacks / closure?"
Hello!

i am trying to mock the following method of sqlite_api.dart by (https://pub.dev/packages/sqflite):
[code]

my implementation/adapting of the method is like:
[code]

my db_test.dart using Mocktail (https://pub.dev/packages/mocktail):
[code]

I got the following response from the console **ERROR**:
🚨🚨
[code]

----------

How do I stub the inner `txn.rawInsert()` method that should respond wi

[2021-05-27 23:44] samandmoore opened #51 "What's the intended behavior for methods that can be tear-offs?"
**Describe the bug**

Hey! 👋🏻

Love this project.

When I write `when` or `verify` with a method that takes no args and can make a tear-off, I get a complaint from the analyzer because I have the tear-off warning enabled.

![image](https://user-images.githubusercontent.com/407586/119909819-cf714680-bf23-11eb-84bf-fc935b4bdfc6.png)

I'm curious what you think. Is it safe to use a tear-off? It seems

[2021-05-28 04:37] felangel commented on #51
Hey @samandmoore 👋
Thanks for the positive feedback! 🙏

It should be totally fine to use a tear-off whenever possible -- everything should work exactly the same 👍

[2021-05-28 12:52] samandmoore commented on #51
Awesome! Thanks, Felix.

[2021-05-28 15:30] samandmoore opened #52 "Why is there no built-in fallback value for DateTime?"
**Describe the bug**
I wrote a test that used a mock with a method accepting a `DateTime` and I got the error that I need to register a fallback value for `DateTime`.

**Expected behavior**
I was expecting that there'd be a fallback value already registered since `DateTime` is a commonly used built-in type.

I'm curious what you think!

Cheers

[2021-05-28 15:37] felangel commented on #52
Hey @samandmoore 👋
Thanks for opening an issue!

Yeah that's a good call. I think it makes sense to have a built-in fallback for `DateTime` since it's part of `dart:core` 👍
I can add it shortly, thanks!

[2021-05-28 15:46] #52 closed

[2021-05-28 15:51] felangel commented on #52
Should be fixed now as part of v0.1.4 🎉

[2021-05-28 17:16] samandmoore commented on #52
Amazing. Thanks a lot!

[2021-05-28 18:11] Ascenio commented on #50
I don't think there's a way to mock that callback because it's a implementation detail and in the `when` part the callback you provided as an argument is different from the one your code use. In this case you might just use this:
[code]

[2021-05-29 08:57] TheOneAndOnlyGarcia commented on #50
it can be so simple! thank you

[2021-05-30 22:12] felangel commented on #50
Thanks @Ascenio for taking the time to help out! 🙏
Closing for now since it seems there is no further action required 👍

[2021-05-30 22:12] #50 closed

[2021-06-03 19:44] VladimirCimbora opened #55 "we can't define a stub on an object that we want to mock before constructing it, but the constructor for the mock prevents us from stubbing the public member"
[code]
    This is how constructor of tested class looks like.

     setUp(
    () {
      myDiagnosticsListBloc = MockMyDiagnosticsListBloc();

      when(() => myDiagnosticsListBloc.stream).thenAnswer(
        (_) => Stream<MyDiagnosticsListState>.fromIterable([]),
      );

      diagnosticsScreenBloc = DiagnosticsScreenBloc(
        myDiagnosticsListBloc: myDiagnosticsListBloc,

      );

[2021-06-03 19:46] felangel commented on #55
Hi @VladimirCimbora 👋
Thanks for opening an issue!

Can you please share a minimal reproduction sample so that I can run your test locally? Thanks 🙏

[2021-06-03 19:51] VladimirCimbora commented on #55
Hi @felangel I don't think I can simply extract some piece of our code :/ The problem is that everything was working before we migrate to null-safety after that we are getting those errors and it is related to DiagnosticsScreenBloc constructor and that we are trying to reach that stream

[2021-06-04 12:55] VladimirCimbora commented on #55
Hi @felangel I created a reproduction sample for you.
https://github.com/VladimirCimbora/mockito_test

[2021-06-04 13:36] felangel commented on #55
Thanks! I noticed you’re using mocktail and mockito together. Can you explain why? If you’re already using mocktail I recommend removing mockito.

[2021-06-04 14:48] #55 closed

[2021-06-06 15:07] srockytfl opened #56 "'Null' is not a subtype of type 'Future<void>'"
Hi, I'm migrating some app to null safety and I found this package to be easier to use than mockito, but now I'm having this issue:
'Null' is not a subtype of type 'Future<void>'

I have this abstract class:
import 'dart:async';
import 'package:flutter_secure_storage/flutter_secure_storage.dart';

abstract class Prefs {

  Future<String> getString(String key);

  Future<void> setString(String key,

[2021-06-07 21:44] felangel commented on #56
Hi @srockytfl 👋
Thanks for opening an issue!

This is because you're not stubbing the `setString` call (so it's returning `Null` instead of `Future<void>`):

[code]

The above snippet should work, hope that helps 👍

[2021-06-07 21:44] #56 closed

[2021-06-09 13:55] yeony102 opened #57 "UntilCalled doesn't work for Future<T> Function"
This is the example code to reproduce this issue:

main.dart
[code]
test.dart
[code]

When I used mockito, even though I have an error at `any`, I didn't have the miss match error for `untilCalled`. It looks that they defined their getter as `Future<Invocation> Function<T>(T) get untilCalled` while yours is defined as `Future<Invocation> Function<T>(T Function()) get untilCalled`

[2021-06-09 13:58] felangel commented on #57
Hey @yeony102 👋
Thanks for opening an issue!

I believe you need to change it to:

`await untilCalled(() => cat.awake(any())); `

Let me know if that helps 👍

[2021-06-09 19:15] yeony102 commented on #57
Great, that solved it 👍
Thanks for getting back to me so soon!

[2021-06-09 19:15] #57 closed

[2021-06-28 12:14] zeshuaro opened #58 "Verify counts all extension functions instead of the specified one"
**Describe the bug**
When using `verify` on an extension function, it failed to matches the specified function but instead matches all the functions defined in the extension. As a result, the also failed to match the specified `count` value.

I have a reproducible example with `flutter_bloc` cubits and I'm not 100% sure if this is an issue related to `mocktail` or `flutter_bloc`. Given that you ma

[2021-06-30 10:52] zeshuaro opened #59 "Invalid implementation override when using Fake with ThemeData and ColorScheme"
**Describe the bug**
When using `Fake` with `ThemeData` and `ColorScheme`, I'm getting an `invalid_implementation_override` error with the following message:

[code]

**To Reproduce**

[code]

**Expected behavior**
I should be able to use `Fake` with `ThemeData` and `ColorScheme`

**Screenshots**
N/A

**Logs**
N/A

**Additional context**
N/A

[2021-07-02 22:00] fernando-s97 opened #60 "[QUESTION] Is it possible to stub a method in a real object?"
[code]

The code above fails with ```Bad state: No method stub was called from within `when()`. Was a real method called, or perhaps an extension method?```

[2021-07-07 19:03] moseskarunia commented on #60
I don't think you can stub it like that. You can put that function in another object, and pass the mocked object to your class.

[code]

And then in your test

[code]

[2021-07-07 21:01] felangel commented on #58
Hi @zeshuaro 👋
Thanks for opening an issue!

I was not able to reproduce the issue. The following works for me:

[code]

Can you check whether the above works for you?

[2021-07-07 21:35] felangel commented on #59
Hi @zeshuaro 👋
Thanks for opening an issue!

This is because `ThemeData` and `ColorScheme` have a different `toString` function signatures. You can define a mixin to address the issue:

[code]

Hope that helps 👍

[2021-07-08 13:21] zeshuaro commented on #58
Thanks @felangel for looking into this. Your snippet works for me too.

However, if you change the `CounterCubit` to extend a state class, i.e. `Cubit<CounterState>` instead of `Cubit<int>`, the issue is still there. See the code below:

[code]

I'm getting the following error with the code above:

[code]

[2021-07-08 13:24] zeshuaro commented on #59
Thanks @felangel, your example works perfectly. Would be nice to have this documented somewhere 👍

[2021-07-09 20:16] fernando-s97 commented on #60
Yeah, I guess my code structure is not really testable the way it is now... I just wanted to make sure of it. Thanks!!

[2021-07-09 20:16] #60 closed

[2021-07-13 17:57] ShivamMattoo33 opened #61 "MockNavigationObserver"
Hi I am trying to add a test to Navigate from one page to another and hence am using NavigationObserver
But I am unable to make it work as it says
registerFallbackValue was not previously called to register a fallback value for `Route<dynamic>`flutter.
Could you Please give a sample test for this scenario

[2021-07-13 18:49] felangel commented on #61
Hi @ShivamMattoo33 👋
Thanks for opening an issue!

You can do something like:

[code]

You might also want to check out [mockingjay](https://github.com/VeryGoodOpenSource/mockingjay) which is intended to make mocking navigation easier and uses `mocktail` internally. 👍

Closing for now but let me know if you are still having trouble and I'm happy to continue the conversation 😄

[2021-07-13 18:49] #61 closed

[2021-07-15 20:34] #59 closed

[2021-07-18 04:13] felangel commented on #58
Hi @zeshuaro 👋
Sorry for the delayed response! I took a closer look and the issue is when you define a public extension the extension is actually also applied to the `Mock`.

For example:

[code]

In the above scenario, calling `foo` on `MockMyClass` will always invoke the real `foo()` (not a stub). As a result, it's not possible to stub/verify methods that are extensions because they will always

[2021-07-18 06:45] zeshuaro commented on #58
No worries @felangel. Thanks for the reply and explaining the issue to me. Your suggestion works for me and I can get my tests running now!

[2021-07-18 06:45] #58 closed

[2021-07-20 13:56] Wizzel1 opened #64 "How to mock Future<void>function({Rect? bounds}) ?"
**Describe the bug**
I am trying to verify that a method on a viewModel gets called on button tap but I am getting an error.

The original method looks like this :

`Future<void> exportNotes({Rect? bounds}) {}`

I have tried to mock it like this :
`when(() => _vmMock.exportNotes()).thenAnswer((_) => Future.value());`

and then run the following test :

[code]

So the button exists but when the tes

[2021-07-22 17:15] tijanirf commented on #42
Hi @felangel,

I still got an error if I use cubit that emits `enum` even though we already added `registerFallbackValue(AppTab)` (`AppTab` is an `enum`).

I can't create `FakeAppTab` because I can't implement `enum`

<img width="771" alt="Screen Shot 2021-07-23 at 12 11 14 AM" src="https://user-images.githubusercontent.com/35812470/126680344-e1d191d3-2b4e-4ee6-a05f-a7a18b9495d8.png">

Is there an

[2021-07-22 18:34] felangel commented on #42
Hi @tijanirf 👋
You can just registerFallback with a real enum value in this case:

[code]

Hope that helps 👍

[2021-07-25 07:44] shan-shaji commented on #42
Hi @felangel

Can you please describe what is the use of `registerFallbackValue`

[2021-07-25 14:28] elianmortega commented on #42
Hey @shan-shaji straight from the docs:

[code]

In fewer word `any()` can substitute any basic data type: int, string, etc. But `any()` have no idea of the existence of a complex model from your project. So by registering a callbackValue you give the ability to `any()` method to substitute the new model/data type you have registered.

[2021-07-27 19:15] mattsolle-sf commented on #64
Should be `exportNotes(any(named: 'bounds'))`

[2021-07-27 19:22] Wizzel1 commented on #64
Thanks 😊

[2021-07-27 19:22] #64 closed

[2021-07-29 13:28] shan-shaji commented on #42
Thank you @elianmortega ,
So `any()` to work properly i need to register `model/data type` defined in my project.

[2021-07-29 13:33] elianmortega commented on #42
Yes, but only the ones that will be used on the tests, there is no need on registering a model that won't be used in the test 👍 .

[2021-07-29 15:04] shan-shaji commented on #42
Ok Thank you @elianmortega 👍

[2021-08-05 17:06] renancaraujo opened #66 "Add support for type arguments matching"
**Is your feature request related to a problem? Please describe.**

On a scenario where we have a mocked instance with methods that receive type arguments, proceedings like `verify` never take notice of type arguments,

[code]

**Describe the solution you'd like**
Take type arguments into consideration as much as positional and named arguments.

**Describe alternatives you've considered**
We could

[2021-08-05 18:26] renancaraujo commented on #66
Added a PR for this: #67

[2021-08-18 04:31] felangel commented on #66
Related to https://github.com/dart-lang/mockito/issues/155

[2021-08-20 23:24] supposedlysam-bb opened #68 "Add ArgThat Function"
**Is your feature request related to a problem? Please describe.**
I'm replacing Mockito with Mocktail and would like to use the same (or similar) way of testing that we already do.

**Describe the solution you'd like**
Please see Mockito's [docs](https://pub.dev/documentation/mockito/latest/mockito/argThat.html) and the [commit](https://github.com/dart-lang/mockito/commit/aa9e03b437c4a7cf66e41d5b

[2021-08-21 00:06] felangel commented on #68
Hi @supposedlysam-bb 👋
Thanks for opening an issue!

You should be able to use any(that: …)

[code]

Let me know if that helps 👍

[2021-08-23 07:07] Albertbol opened #69 "How to pass arguments to mock constructor + mock internal method or work around it"
**Describe the bug**
Mocked constructor is not taking arguments and I cannot mock internal methods if using a real class with mocked repository passed in the constructor.

**To Reproduce**
First of all, thank you for the great plugin, this is not even a bug more like a question probably and help for a workaround if it's not fixable directly.

I have a class that takes repository in constructor arg

[2021-08-23 14:58] felangel commented on #69
Hi @Albertbol 👋
Thanks for opening an issue!

If you're trying to write unit tests for the `Cat` class then you shouldn't create a `MockCat` instead you should create a `MockRepository` and inject the `MockRepository` into the real `Cat`:

[code]

Hope that helps 👍

[2021-08-23 15:44] supposedlysam-bb commented on #68
This is perfect, thank you!

[2021-08-23 15:44] #68 closed

[2021-08-23 16:19] Albertbol commented on #69
Hey, thanks a lot for spending some time and answering.

I tried this method previously, but I faced a problem: I cannot stub methods of **Cat** class.
I have some methods which use other methods from Cat and I would like to just stub them.

[code]

[2021-08-23 16:21] felangel commented on #69
@Albertbol no problem! I really don't recommend that approach. If you want to fully test a class you should use a real implementation of that class and only mock its dependencies.

[2021-08-23 16:28] Albertbol commented on #69
Ok thanks, I just wanted to make sure that I did not miss some other strategy.
Thanks again!

[2021-08-23 16:28] #69 closed

[2021-08-24 22:02] BayeNN opened #70 "Use `any` or `captureAny` on a parameter - error when Any with parameter"
Hi all,

thanks a lot for your work on mocktail - very useful one!
I very hope you could help me with the below issue:

[code]

With Sound Null Safety On  - I'm getting the following error here:

I know how to fix similar error(s) in case if there is simple any() object.
But as you see in my case I have additional parameter to  that "any".

Could you please give me any ideas how I could translate

[2021-08-24 22:05] felangel commented on #70
Hi Egor (@BayeNN) 👋
Thanks for opening an issue!

You need to register a fallback value for `Uri` in order to use `any` or `captureAny`:

[code]

Let me know if that helps 👍

[2021-08-25 01:32] BayeNN commented on #70
Hi @felangel ,

thanks for the prompt response.
Yeah, I tried that before asking you for the help.

That solution with FakeUri - it does not work in my case.
And the reason seems to be related with `startsWith('${_dataConfig.apiEndPoint}') `.

Here are some details:
- if I remove that `startsWith('${_dataConfig.apiEndPoint}')` with `FakeUri` - tests works
- But if I use that `startsWith('${_dataCo

[2021-08-25 01:36] felangel commented on #70
Can you share a link to a minimal reproduction sample? I’m guessing the dataConfig.apiEndpoint isn’t being initialized properly/on time. Thanks!

[2021-08-25 12:03] BayeNN commented on #70
Good morning @felangel

the minimal reproduction sample is attached.
[mocktail_test.zip](https://github.com/felangel/mocktail/files/7046716/mocktail_test.zip)

Run: "flutter test test/my_test.dart"
Please see
[code]

My feeling the root cause is here:
type_matcher.dart

[code]

When debugging failing test case - that "matches" makes the comparison of item which is Uri with T which is String and fa

[2021-08-29 16:55] jrmallorca opened #71 "`when` method throwing error `type 'Null' is not a subtype of type ...`"
**Description**
I am trying to implement Reso Coder's Clean Architecture in my own project and have come across this problem while testing. Using the `when` method from Mocktail would throw out the error: `type 'Null' is not a subtype of type 'Future<Either<Failure, List<WorkoutEntity>>>'`. A minimal reproduction will be given below.

I've confirmed it's not a `bloc_test` issue as the last test st

[2021-08-29 17:57] jrmallorca commented on #71
Removing `async` from the `when` part of the method fixed it. Closing.

[2021-08-29 17:57] #71 closed

[2021-08-31 22:03] brunotacca opened #72 "Question: Behavior while verifying generic parameters types. Is this expected?"
Hello,

I am trying to use mocktail in a pure dart lib however, I am getting a weird behavior when verifying a call with a generic parameter type.

I have a simplified version of DartZ/Either, with names changed and just the fold and check type methods.

[code]

Then I want to check if the output class was called with one of the specified types (Success or Failure).

I first add the fallbacks and

[2021-09-01 12:51] brunotacca commented on #72
**Update**

I tried to tweak a little bit with the assert section and got it to work, I **think** the behavior is to be expected. So I am closing the issue.

As mentioned, this doesn't work
[code]
and outputs the following:
[code]

By changing the assert section to this, I managed to get it to work:
[code]

So the verify() is checking the instance itself (its hashCode) of the parameter, and not on

[2021-09-01 12:51] #72 closed

[2021-09-06 10:43] raffomania opened #73 "Support using `Mock` as mixin"
**Is your feature request related to a problem? Please describe.**
I'm using mocktail in conjunction with getx and want do use the `Mock` class as a mixin:

[code]

However, the [prefer_mixin](https://dart-lang.github.io/linter/lints/prefer_mixin.html) rule tells me that `Mock` should be a `mixin`, not a `class`. I've disabled the rule for now.

**Describe the solution you'd like**
It would be awe

[2021-09-13 15:23] erickzanardo opened #77 "Default, common use stubs"
Mocktail could provide some default stub instances that are common use and not project specific.

A common one that I usually end up writing on every project is a VoidCallbackStub, usually to check if a onPressed callback was called on widget testing.

An implementation suggestion:

[code]

then we could use it like the following:

[code]

Is this something worth adding to Mocktail?

[2021-10-02 14:47] morrowyn opened #78 "Documentation"
Hi,

I greatly appreciate the work that you are doing for the fluttter community. Especially since the null-safety and creating a better tool than mockito.

I ran into the following issue when porting from mockito to mocktail, whereas mockito somehow skipped non-mocked methods because of being null.

I received this error:
[code]

Now it took me a while to figure out what was happening, so maybe y

[2021-10-04 07:14] ProFive opened #79 "Has support socket ?"
Has support socket?

[2021-10-04 13:29] felangel commented on #79
Hi @ProFive
Can you clarify your question? I don’t understand what you mean by support socket.

[2021-10-04 14:07] ProFive commented on #79
Dear @felangel ,
The flutter socket
`import 'dart:io';
import 'dart:async';

Socket socket;

void main() {
   Socket.connect("localhost", 4567).then((Socket sock) {
   socket = sock;
   socket.listen(dataHandler,
      onError: errorHandler,
      onDone: doneHandler,
      cancelOnError: false);
   }).catchError((AsyncError e) {
      print("Unable to connect: $e");
   });
   //Connect standard i

[2021-10-07 17:55] Flavio-Vieirastack opened #80 "Question: type 'Null' is not a subtype of type 'Future<Response> on http post test"
hello guys, if there is someone there who can help me i would appreciate it too much. I'm testing a post type request, my goal is to ensure that the class will receive the correct url, but I'm getting this error:

type 'Null' is not a subtype of type 'Future<Response>'

My code:

[code]

[2021-10-07 17:58] felangel commented on #80
Hi @Flavio-Vieirastack 👋
Thanks for opening an issue!

I'm guessing you're missing the stub for `client.post`:

[code]

Let me know if that helps 👍

[2021-10-07 18:47] felangel commented on #80
@Flavio-Vieirastack no problem, the following test works as expected:

[code]

Hope that helps 👍

[2021-10-08 20:53] #79 closed

[2021-10-08 21:12] erickzanardo commented on #77
Hey, thanks for the response.

Yeah, the counter variable is something that I also used and it work perfectly, but this proposal makes it a little bit more convenient.

A separate package sounds good too! Would that be something that could be kept under this mono repo? If so I would love to do a PR including it.

Otherwise if you prefer to make it external, I could maintain it.

[2021-10-13 05:13] xuan-nguyen-swe opened #86 "How to bypass limitations of constructor inside extension without changing public API?"
1. I have a library, which use a 3rd party class. The 3rd party library is used by users directly together with my library.
Below is the source code in my library.

[code]

2. Because we cannot mock extension and constructor directly, I change the implementation above like this:

[code]

The solution above allow mocking but will break the current public API.

Do you have any suggestion in this cas

[2021-10-22 08:34] lulupointu opened #87 "[Suggestion] Change == override from Object to dynamic in Mock"
**Is your feature request related to a problem? Please describe.**
When trying to mock certain object, their `==` override might use `dynamic other` instead of `Object other`, this will make mocking impossible because `Mock.==` uses `Object`.

An example of this is the `Hive` package, here is an example:
[code]

The compiler will complain:

**Describe the solution you'd like**
Change
[code]

To:
[

[2021-10-22 21:44] davejlin opened #88 "Unit tests with mocktail pass but 'Null' is not a subtype of type 'Future<>' runtime exception is thrown"
Hi @felangel!

Hope all is well :-)

I posted this originally on SO [here][3], but after a couple of days, no one seems to have a good answer.

There are similar issues asking about the same error (e.g. [here][1]), but their cause was due to improper mocking.  In my case, I seem to have the method properly mocked, yet when I debug in Visual Studio Code with ```All Exceptions``` enabled, then I get

[2021-10-22 21:50] #88 closed, assigned to felangel

[2021-11-01 13:12] diazsasak opened #89 "Using when() cause The argument type 'Either<Failure, int>' can't be assigned to the parameter type 'dynamic Function()'"
**Describe the bug**
I want to stub my mock method using when(), but it show error

**To Reproduce**
Steps to reproduce the behavior:

1. Here is my class
`class InputConverter {
  Either<Failure, int> stringToUnsignedInteger(String str) {
    int? val = int.tryParse(str);
    if (val == null || val.isNegative) {
      return Left(InvalidInputFailure());
    }
    return Right(val);
  }
}`
2. Crea

[2021-11-01 14:32] felangel commented on #89
Hi @diazsasak 👋
Thanks for opening an issue!

I believe the issue is you need to pass a closure to `when` like:

[code]

Let me know if that helps 👍

[2021-11-01 22:46] diazsasak commented on #89
Hi @felangel ,
Thank you for your response.

yes that solve the problem for when(), and for untilCalled() and verify() also.

but i got another error on any. any suggestion?

`
when(() => mockInputConverter.stringToUnsignedInteger(any))
          .thenReturn(Right(numberParsed));

      numberTriviaBloc.add(GetTriviaForConcreteNumber(numberString));

      await untilCalled(() => mockInputConverte

[2021-11-02 03:39] felangel commented on #89
`any` is a function so it should be `any()` instead of `any`. Hope that helps 👍

[2021-11-05 22:42] cezar-pereira opened #90 "type 'Null' is not a subtype of type 'Future<Either<FailureInterface, bool>>'"
**Test:**

    class RemoveEmployeeMock extends Mock implements RemoveEmployeeInterface {}

    void main() {
      late final RemoveEmployeeInterface useCase;
      setUpAll(() {
        useCase = RemoveEmployeeMock();
      });
    test('Should return TRUE when remove employee', () async {
      when(() => useCase.call(id: 'id'))
          .thenAnswer((_) async => const Right(true));

    var re

[2021-11-07 04:17] felangel commented on #90
Hi @cezar-pereira 👋
Thanks for opening an issue!

I believe the problem is in your stub you are only stubbing the useCase for the specific `id: 'id'` but then you later call the useCase with `id: ''`. You should be able to adjust your test like:

[code]

Hope that helps 👍

[2021-11-07 04:19] felangel commented on #89
Closing for now but feel free to comment with any additional questions and I'm happy to continue the conversation 👍

[2021-11-07 04:19] #89 closed

[2021-11-07 09:14] diazsasak commented on #89
Ok got it. Thank you for your help @felangel

[2021-11-08 10:22] cezar-pereira commented on #90
Hi Thank you very, very, very much!!

[2021-11-08 10:52] #90 closed

[2021-11-08 10:54] cezar-pereira commented on #90
Changed   when(() => useCase.call(id: 'id')).thenAnswer((_) async => const Right(true));
to
when(() => useCase.call(id: '')).thenAnswer((_) async => const Right(true));

Problem fixed.

[2021-11-20 10:54] TusharRoy23 opened #91 "Getting error while running thenThrow"
**base_api_client.dart**
[code]
**base_api_client_test.dart**
[code]
First of all, Thank you for the flutter_bloc. Just amazing.
I am new to mocktail & reading the doc. But I am not understanding the problem here. The problem is -
[code]
Could you please give a solution for that @felangel ?

[2021-11-21 16:51] felangel commented on #91
Hi @TusharRoy23 👋
Thanks for opening an issue and for the positive feedback, I really appreciate it! 🙏

Regarding your question, I believe the issue here is the exception is being thrown and it propagates causing the test to failure whereas you're expecting the return value (`response`) to be an exception which is not the case. You can adjust the test like:

[code]

[2021-11-21 16:58] TusharRoy23 commented on #91
Oh Yes. It worked. Thanks again.

[2021-11-21 17:07] TusharRoy23 commented on #91
Oh sorry. I am reopening now. I have one more question. What is the difference between
[code]
AND

[code]
Both are looking the same to me just the second is declaring a variable I think & assigned it.
@felangel ?

[2021-11-21 18:00] #91 closed

[2021-12-06 12:21] f-person opened #92 "Create a Mockito comparison table in README"
**Is your feature request related to a problem? Please describe.**
I think there are people who migrate to `mocktail` from `mockito` after migrating their app to null safety. I think the migration process can be simplified so that the developers don't have to read the full documentation.

**Describe the solution you'd like**
A table in README that maps `mockito` way of doing things to `mocktail` w

[2021-12-08 20:02] Chaitanyabsprip opened #93 "[question] function as parameter"
how can I verify that the function passed as a parameter to the SUT method is called?
I have tried the following approach but i get `Used on a non-mocktail object` error

[code]

[2021-12-19 07:02] mtwichel opened #95 "Support for generic type matching"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I am trying to make an object that supports the following type of method:
[code]

and I was hoping to mock it like so

[code]

Unfortunately, this throws the following error:
`_TypeError (type 'String' is not a subtype of type 'int')`

**D

[2021-12-19 07:10] mtwichel commented on #95
Only now realizing this is probably a duplicate of #66 and fixed by #67. If it is I can close it and I'll drop a thumbs up on the PR :)

[2021-12-19 20:45] felangel commented on #95
Hey @mtwichel yup it’s a duplicate and I’ll try to get that merged and published in the next few days 👍

[2021-12-19 20:45] #95 closed

[2021-12-19 21:50] mtwichel commented on #95
Thanks as always @felangel 🎉🎉

[2021-12-20 22:30] felangel opened #100 "feat: improve error message when using verifyNoMoreInteractions"
**Description**

The error that is in the console is not helpful in solving the issue.

For me, through trial and error I discovered that I should verify each call for `verifyNoMoreInteractions` to work.

So I suggest adding a "Did you do the following ..." helper when printing the error in the console.

Now:
[code]

Proposal:
[code]

*Originally created in https://github.com/felangel/bloc/issues/

[2021-12-20 22:36] felangel commented on #93
Hi @Chaitanyabsprip 👋
Thanks for opening an issue!

This is working as expected because you are mocking the class and stubbing the `method` which means that the function being passed as a parameter won't actually be called. You generally should only mock the dependencies of the thing you're testing. In this case `mockClass` should be real and you can inject a mock parameter function into the real

[2021-12-20 22:38] felangel commented on #87
Hi @lulupointu 👋
Thanks for opening an issue and sorry for the delayed response!

I'd prefer to avoid making this change because, as you mentioned, `Object` is the preferred usage.

Closing for now but feel free to comment if you feel strongly about this change and I'm happy to continue the conversation, thanks! 🙏

[2021-12-20 22:38] #87 closed

[2021-12-20 22:39] felangel commented on #73
Closing for now since it's been a while and it doesn't appear there are any actionable next steps. Feel free to comment if you have any further questions and I'm happy to continue the conversation 👍

[2021-12-20 22:39] #73 closed

[2021-12-21 07:55] raffomania commented on #73
Thanks for the response, I didn't get around to testing it but assume that your answer will indeed fix my problem.

[2021-12-29 13:32] raxahai opened #104 "Invalid argument(s): An argument matcher (like `any()`) was either not used"
Getting error:

Invalid argument(s): An argument matcher (like `any()`) was either not used as an immediate argument to Symbol("get") (argument matchers can only be used as an argument for the very method being stubbed or verified), or was used as a named argument without the Mocktail "named" API (Each argument matcher that is used as a named argument needs to specify the name of the argument it i

[2021-12-29 15:02] mousedownmike commented on #104
Your matchers on the mockHttpClient.get call are mixed. Replace `Uri.parse(any())` with `any()` like so:

[code]

[2021-12-29 15:16] raxahai commented on #104
Did this as per your suggestion:

[code]

Bad state: A test tried to use `any` or `captureAny` on a parameter of type `Uri`, but
registerFallbackValue was not previously called to register a fallback value for `Uri`.

To fix, do:

[code]

[2021-12-29 15:49] mousedownmike commented on #104
Yes, you need a "Fake" Uri as [described in the README](https://github.com/felangel/mocktail/tree/main/packages/mocktail#how-it-works).  There's a good example in the `bloc` library `weather` example's [meta_weather_api_client_test](https://github.com/felangel/bloc/blob/master/examples/flutter_weather/packages/meta_weather_api/test/meta_weather_api_client_test.dart)

To get it going you would want

[2022-01-08 09:14] ljonya opened #105 "mocktail 0.3.0-dev.1 and freezed 1.1.1: version solving failed"
**Describe the bug**
I am trying to use freezed and mocktail in the same project, but mocktail won't install

**To Reproduce**
Dependencies in my pubspec.yaml:
[code]

**Logs**
[code]

[2022-01-08 15:31] felangel commented on #105
Hi @ljonya 👋
Thanks for opening an issue!

I believe this is a duplicate of https://github.com/felangel/bloc/issues/3110#issuecomment-1004381832. Let me know if that helps 👍

[2022-01-08 16:30] ljonya commented on #105
@felangel Hi! Thank you so much! Indeed, this is the same problem.

[2022-01-08 16:30] #105 closed

[2022-01-10 10:48] foxanna commented on #105
Hi @felangel,
I guess if it was only about `freezed` and `flutter_test`, running `flutter pub get` on such `pubspec.yaml` would also fail:
[code]

But it does not. It only fails if `mocktail` dependency (both `0.2.0` or `0.3.0-dev.1`) is uncommented.

[2022-01-10 14:23] felangel commented on #105
Hi @foxanna 👋
Glad you got it working! As I mentioned in https://github.com/felangel/bloc/issues/3110#issuecomment-1004381832 it looks like it’s just an issue when you have a dependency on flutter 2.8.1, package:test, and package:analyzer ^3.0.0 because they all rely on different versions of package:test_api.

[2022-01-14 16:12] #93 closed

[2022-01-14 16:28] f-person opened #106 "[Question] A better way to verify a high-level function was called?"
I needed to verify a function which was not a method in a class.

I originally wrote this:
[code]

But, when trying to verify it was called, an `Used on a non-mocktail object` error occurred.

To fix that I made an abstract class from it and created a mock class which extends it:
[code]

However, it would be better if there was a way to stub top-level functions without having to create 2 classes.

[2022-01-14 16:39] mousedownmike commented on #106
I ran into a similar issue with the `availableCameras()` function from the Flutter Camera package.  That lead me to this Stack Overflow response using **Mockito**: https://stackoverflow.com/a/57582785/11892360

I confirmed that the approach **does work with Mocktail** but you still have to be passing the function into the calling Class or Function in order to be able to have your Mock called.

Thi

[2022-01-14 16:49] mousedownmike commented on #106
Looking in my history, it looks like this is what I had before I changed direction:

[code]

[2022-01-14 19:27] f-person commented on #106
@mousedownmike thank you! Didn't think about making the `call` method abstract. This works fine now:

[code]

[2022-01-14 19:27] #106 closed

[2022-01-22 02:37] EvGeniyLell opened #107 "[question] Used on a non-mocktail object"
Hi, long time my test works as expected but after some updates, I have an error
I have `Mock` for `File`
[code]
and in the test, I try to check
[code]
but it throws the error: `Used on a non-mocktail object`

full error body:
[code]

Now I use:

mocktail: ^0.2.0
bloc_test: ^9.0.2

Flutter is already up to date on channel stable
Flutter 2.8.1 • channel stable • https://github.com/flutter/flutter.gi

[2022-01-22 02:40] EvGeniyLell commented on #107
short example with the same error
[code]

[code]

[2022-01-22 04:26] felangel commented on #107
Hi @EvGeniyLell 👋
Thanks for opening an issue!

That's because your verify syntax is incorrect. You're not verifying that the `readAsStringSync` method is called. Instead it should be:

[code]

Or if you don't want to use a tear-off you can do:

[code]

Hope that helps 👍

[2022-01-22 12:59] EvGeniyLell commented on #107
Hi @felangel, thanks for the quick answer, you saved me!

[2022-01-22 12:59] #107 closed

[2022-01-27 10:58] woprandi opened #108 "How to mock with await for ?"
I have this kind of code

[code]

This code works.
I would like to test the automatic reconnection when websocket connection is closed (with mocktail to mock). I discovered that `stream.listen(...)` is called under the hood when using `await for` syntax. But I'm unable to get out of the loop during test. This is what I tried.

[code]

But the test fails, it does not get out the `await for` loop. H

[2022-02-01 23:18] felangel commented on #77
Sorry for the delayed response! I'd prefer to create a separate package (maybe https://pub.dev/packages/mocktailx would accept a PR?).

Let me know what you think 👍

[2022-02-01 23:27] erickzanardo commented on #77
Sounds good! I will work on this on a external package, thanks @felangel !

[2022-02-01 23:31] #77 closed

[2022-02-03 08:18] noyruto5 commented on #42
I have the same problem. This is my code:
[code]
And the error is:
[code]

[2022-02-03 08:23] noyruto5 commented on #42
I have the same problem. This is my code:
[code]
And the error is:
Bad state: A test tried to use `any` or `captureAny` on a parameter of type `AuthenticationState`, but
  registerFallbackValue was not previously called to register a fallback value for `AuthenticationState`.

  To fix, do:

[code]

  This instance of `AuthenticationState` will only be passed around, but never be interacted with.

[2022-02-04 09:18] Tokenyet opened #109 "Mocked Object runtime type"
**Describe the bug**
Use the mocked object, but can't use the mocked method to another `when`. Not sure If it's related to mocktail or mockito.

**Expected behavior**
Mocked object should be used as normal object when calling the mocked method, and should be identified as the correct type of Its original return type.

**Screenshots**
(The only difference on line89 and line92,)
I want to use **root

[2022-02-09 09:57] AdrienDelgado opened #110 "No method stub was called from within `when()` when mocking Storage"
I am unable to initialise a Mock storage with Mocktail when in testing.

I replicated the steps from [this answer](https://github.com/felangel/mocktail/issues/48#issuecomment-848282114) and created an empty test from it:
[code]

When I try the same thing to create a mock Storage for the hydrated bloc I need to test
[code]
it fails with the issue
[code]

What am I doing wrong here?

[2022-02-12 21:58] pro100svitlo opened #111 "Update dependencies"
Please update dependencies 🙏
There are some issues that start occurring. For example:
[code]

[2022-02-12 22:09] felangel commented on #111
Hi @pro100svitlo 👋
Thanks for opening an issue!

This is a duplicate of https://github.com/felangel/bloc/issues/3110#issuecomment-1004381832 and is due to an incompatibility between flutter test and analyzer ^3.0.0.

[2022-02-12 22:18] pro100svitlo commented on #111
Oh, got it.
Thanks for the fast reply and for the package it self 🙏
Have a nice day!

[2022-02-12 22:18] #111 closed, assigned to felangel

[2022-02-15 12:50] MagnusJohansson opened #112 "Problems with stubbing an Rx<> property on GetX service , getting: type 'Null' is not a subtype of type 'Rx<Notification>'"
Hi,

I am new to MockTail, trying to setup a mock for a GetX service.
To my understanding, whenever you get this error: `type 'Null' is not a subtype of type ...'` you have not setup the stubbing properly.

But no matter how I try , with variations of `...thenReturn()` and `...thenAnswer()` I can't get it to work.

Any pointers?
Thanks.

Below is a minimal reproducible sample, which will give me:

[2022-02-15 14:54] c-lamont commented on #95
@felangel @mtwichel I think the prs 66/67 were referring to fixing the verify issue:
`final result = verify(() => stub.someMethodWithTypeArgs<SomeType>());`

But I am still having the issue with when/return as described in the original question:
`when(() => foo.get<int>()).thenReturn(5);`

Could either of you confirm whether the when/return generic been implemented or not?

[2022-02-15 22:43] felangel commented on #95
Can you provide a link to a minimal reproduction sample? I'm happy to take a look 👍

[2022-02-16 10:28] c-lamont commented on #95
So making a simplified project proved that Mocktail does handle generics correctly. From that I have managed to solve my issue 🎉
Thanks for the quick response and making this great package 👍

[2022-02-22 21:08] felangel commented on #112
Hi @MagnusJohansson 👋
Thanks for opening an issue and sorry for the delayed reply!

Are you able to provide the full code? It looks like the code for `package:rxtest/main.dart` is not included. Thanks!

At first glance it looks like you're not stubbing correctly. I'd recommend the following:

[code]

[2022-02-22 21:12] felangel commented on #110
Hi @AdrienDelgado 👋
Thanks for opening an issue and sorry for the delayed response!

I recommend not manually mocking the storage and instead do:

[code]

Let me know if that helps 👍

[2022-02-22 21:28] AdrienDelgado commented on #110
It worked perfectly! Thank you very much for that and all your great packages.

[2022-02-22 21:28] #110 closed

[2022-02-22 22:53] MagnusJohansson commented on #112
Ah, thank you!
It works now.

The import you mentioned is just the main app main.dart file, since the tester is referencing MyApp().

Now, I have realized that for all this to work, I have to implement an Interface pattern for all my services.
Otherwise the GetX Controllers I'm am using does:
[code]
Which will result in exception MockMyService  is not of type MyService.

So to get it to work I nee

[2022-02-22 22:53] #112 closed

[2022-02-23 04:49] mrgnhnt96 opened #114 "Verifying args callbacks always fails"
**Describe the bug**
When passing a `void Function()` as an arg, `verify()` seems to always fail.

**Code to Reproduce**

[code]

**Logs**

<details>
<summary>gracefully runs mocked callback provided to mock #run</summary>

[code]
</details>

<details>
<summary>gracefully runs real callback provided to mock #run</summary>

[code]
</details>

<details>
<summary>flutter doctor</summary>

[code]
</de

[2022-02-24 19:26] igorvidottof opened #115 "[QUESTION] How to store more than one canned response when stubbing a method that will be inside a loop?"
Is there a way of stubbing a method to return a new value every time it's called? For example:
[code]
As a reference, I found this similar question solved for Java: https://stackoverflow.com/questions/64021732/how-to-mock-the-function-in-a-loop-using-mockito-in-java-to-return-different-val

Thank you in advance!

[2022-02-24 19:54] felangel commented on #115
Hi @igorvidottof 👋
Thanks for opening an issue!

There's an example of dynamically creating stubs in the README:

[code]

Let me know if that helps 👍

[2022-02-25 12:25] igorvidottof commented on #115
Hi @felangel!

Thank you so much for answering this so fast! That is just what I was looking for! I didn't quite realize it was there haha, sorry about that. Well done for the package! 🙌 🙌

[2022-02-25 12:25] #115 closed

[2022-02-28 05:04] #66 closed

[2022-03-01 13:49] hkuczynski opened #116 "Mocking generic method multiple times with different type arguments fails"
**Describe the bug**
When I mock a generic method that is expected to return an object of a class with a generic type, subsequent calls to when ... thenReturn overwrite the previous ones.

**To Reproduce**
Run this test:
[code]

**Expected behavior**

[code]

**Screenshots**
<img width="701" alt="CleanShot 2022-03-01 at 14 41 13@2x" src="https://user-images.githubusercontent.com/8619562/156180577-

[2022-03-01 16:24] felangel commented on #116
Hi @hkuczynski 👋
Thanks for opening an issue!

I'm unable to reproduce the problem using Dart 2.16.1 (stable) and mocktail `0.3.0-dev.1`. Are you using mocktail 0.1.0-dev.1?

[2022-03-01 16:45] felangel commented on #114
Hi @mrgnhnt96 👋
Thanks for opening an issue!

I believe the problem is you are verifying `run(any()).called(3)` first which verifies the calls successfully so they are no longer considered in future verifications.

The following passes locally

[code]

[2022-03-01 18:10] felangel commented on #109
Hi @Tokenyet 👋
Thanks for opening an issue!

Are you able to provide a link to a minimal reproduction sample? It would be much easier to help if I'm able to run/debug the issue locally. Thanks! 🙏

[2022-03-01 18:43] #100 closed

[2022-03-01 19:11] felangel commented on #108
Hi @woprandi 👋
Thanks for opening an issue!

Are you able to provide a link to a minimal reproduction sample? It would be much easier to help if I'm able to run/debug the issue locally, thanks! 🙏

[2022-03-01 20:13] woprandi commented on #108
@felangel well, what's the problem with the code I posted ?

[2022-03-01 20:18] felangel commented on #108
It's not clear what versions of dependencies you're using are and what environment you're running in. It would be much easier to help if you could provide a link to a GitHub repo that I could clone and run to reproduce the issue.

I can try to put together an example based on the snippets you provided but it's always much easier and less time consuming to investigate when there is a minimal reprod

[2022-03-02 08:41] #116 closed, assigned to felangel

[2022-03-02 09:32] woprandi commented on #108
OK you can clone here https://github.com/woprandi/flutter_playground
You will need to a websocket server to simulate (re)connections. You can use the `test.py` file (`pip install  websockets` also).

[2022-03-02 22:28] mrgnhnt96 commented on #114
Interesting, I didn't know that they were taken from the running after they were verified. Maybe I overlooked it, thanks for letting me know!

I know extensions can't really be verified. But what if I want to verify what happens in the extension method?
In my case I am using `mason_logger`, I have created an extension method called "cooking" which calls `info('cooking...')`, (in an effort to stay

[2022-03-17 04:09] ch-angelino opened #122 "Cannot distinguish 2 sequential action dispatch calls"
**Describe the bug**
When verifying that 2 actions have been dispatched from a redux store in a redux middleware one after the other, the verify function cannot distinguish the 2 actions, i.e. any of the 2 actions will match 2 calls instead of 1 each.

**To Reproduce**
`lib/middleware.dart`:
[code]

`test/middleware_test.dart`:
[code]

Steps to reproduce the behavior:

1. Run `flutter test`
2. See

[2022-03-17 04:23] felangel commented on #122
Hi @ch-angelino 👋
Thanks for opening an issue!

Are you able to provide a link to a minimal reproduction sample? It would be much easier to help if I could clone a working reproduction sample and run/debug it locally, thanks! 🙏

[2022-03-17 04:38] ch-angelino commented on #122
Hi @felangel 👋

Here you go: https://github.com/ch-angelino/Flutter-Mocktail-Bug-Demo-122

Just clone the repo then go `flutter pub get` and `flutter test` and the error should come up 🤞

Thanks for looking into this 🙏

[2022-03-17 06:12] felangel commented on #122
Thanks I’ll take a look tomorrow morning!

[2022-04-06 21:23] felangel opened #124 "bug: support multiple stubs with different generic types"
**Describe the bug**
I should be able to create multiple stubs for the same method with different generic types.

[2022-04-06 21:31] #124 closed

[2022-04-13 16:56] artahc opened #125 "error with RxDart's doOnData"
**Describe the bug**
Hi, I don't know whether this bugs belong to RxDart or Mocktail. So I put it here first, but if this doesn't belong here, you can close the issue.

So I have Foo class which invoke Future method from mocked Bar. I converted the Future method into Streams, then uses the **doOnData** operator on the stream.  The **doOnData** causes this error:

[code]

If I remove **doOnData**,

[2022-04-13 17:16] #125 closed

[2022-04-14 09:12] Wizzel1 opened #126 "How to stub toString() for a mocked class"
I am trying to Mock a `Node` class and stub the `toString()` method.

When I run the test I am geting an Error

[code]

which is probably because the Mock class has a `toString()` method by itself.

Is there a recommended workaround?

This is my Code :

[code]

[2022-04-21 03:50] tomsitter commented on #126
You call `when` like this: `when(() => mockNode.toString()).thenReturn(nodeListString);`

[2022-04-21 07:14] Wizzel1 commented on #126
Thanks, but that doesn't solve my problem unfortunately

[2022-04-21 15:43] felangel commented on #126
@Wizzel1 can you provide a link to a complete, minimal reproduction sample? Thanks!

[2022-04-22 06:42] Wizzel1 commented on #126
Add the latest version of  [flutter_quill](https://pub.dev/packages/flutter_quill)  to your dependencies

[code]

[2022-04-30 20:24] Mo0Khaled opened #127 "put HIVE return type 'Null' is not a subtype of type 'Future<void>' in mocktail"
i am trying to test cash articles with HIVE package put it throws a type 'Null' is not a subtype >of type 'Future<void>

I stubed it but I don't know why

and the print shows that it's Future<void>

but still shows that is null not Future<void>

**test:**
[code]

**function:**
[code]

[2022-04-30 20:46] Mo0Khaled commented on #127
**I solve it...**

the problem was with the data I put on put **expectedJsonArticles** on the test file and the data on the production file
[code]
[code]

is not the same

but the error message tells me that I didn't stub this!

@felangel could you help us improve this error message or could you explain if it makes sense to see this error message

[2022-05-03 08:50] imtoori opened #128 "Support latest analyzer"
**Describe the bug**
A clear and concise description of what the bug is.

I'm trying to use the latest version of `freezed` but since it depends on `analyzer >= 3.0.0` it's not compatible with mocktail 0.3.0

I'm not completely sure this is correct, but I'm posting the logs.

**Logs **

[code]

Paste the output of running `flutter doctor -v` here.

[code]

[2022-05-05 12:58] MichalBaranMiquido commented on #128
If anyone would be looking for a temporary workaround then you might try adding:
[code]

[2022-05-06 19:28] felangel commented on #66
@shilangyu you'd need to write a stub for each type you want to mock

[2022-05-13 15:12] renancaraujo commented on #128
Also tried to reproduce it here in the latest version. Have you tried to run `pub upgrade <deps>` on test to update your lock?

[2022-05-13 16:59] Hwan-seok opened #130 "resetMocktailState is not resets state right"
**Describe the bug**

`resetMocktailState` docs says that it resets all mocktail states but doesn't.
It seems it does not reset verifying call count.
I found `clearInteractions` and `reset` seem to work perfectly as I intended.

[code]

Did I miss something or is it intended?

**To Reproduce**
Steps to reproduce the behavior:

[code]
**Expected behavior**
resets clearly after invoking `resetMockta

[2022-05-16 05:55] xoltawn commented on #88
I have mocked the function and I have uncheck "All Exceptions" but still got a similar error.any idea why?

[2022-05-16 06:13] juliuskopp opened #131 "After upgrading to Flutter V3.0.0, error while doing Flutter pub outdated"
**Describe the bug**
After I upgrade to Flutter V3.0.0, I also wanted to upgrade the packages, and then run the command :
Flutter pub outdated   or    Flutter packages upgrade

**To Reproduce**
Upgrade to Flutter V3.0.0

1. run the commande line : flutter pub outdated  or    flutter packages upgrade
2. see error :
 Error on line 8, column 8 of D:\src\flutter\.pub-cache\hosted\pub.dartlang.org\mock

[2022-05-16 06:39] xoltawn commented on #88
The problem solved. I'm describing my scenario hoping it helps someone:

one of the arguments that I have to pass is ""CancelToken" whick is used in Dio. so I was passing a real instanct of CancelRequest. then I changed it to any() and now problem is gone. (don't forget to call registerFallbackValue on a Fake implementation of CancelRequest)

[2022-05-16 06:44] sabifa commented on #131
Same issue here

[2022-05-16 07:47] MichalBaranMiquido commented on #128
It also stopped happening in my project after updating to Flutter 3.0 ✅

[2022-05-16 10:14] alehmazok commented on #131
@sabifa Yes, it works, thank you!
Use the command `flutter pub cache clean` instead of manual folder deletion.

[2022-05-16 11:27] imtoori commented on #128
I can confirm it's working fine on flutter 3

[2022-05-16 11:27] #128 closed

[2022-05-16 12:41] juliuskopp commented on #131
Hi,
thank you for the fast reply.
I did `flutter pub cache clean` and then `flutter pub get` and it worked when doing `flutter packages upgrade`

[2022-05-17 07:16] #131 closed

[2022-05-27 21:00] Nike682631 opened #132 "type 'Null' is not a subtype of type 'Future<bool>'"
I'm getting the below error while I'm trying to implement bloc testing in my flutter project
[code]
Following are the corresponding files that might help identify the cause of the error
***signup_bloc_test.dart***
[code]
***signup_repository.dart***
This is the code for the signup repository.
[code]

[2022-05-28 09:41] #132 closed

[2022-06-01 09:13] jjochen opened #134 "mocktail_image_network: `mockNetworkImages` affects other tests"
**Describe the bug**

Mocking network images in one test will mock them for all upcoming tests in the same file.

**To Reproduce**
Updated tests from the [example](https://github.com/felangel/mocktail/blob/2fbf56235eff60596e79bf2031fe639e38f769d4/packages/mocktail_image_network/example/test/image_test.dart):
[code]
Running the second test after the first succeeds unexpectedly.

**Expected behavior

[2022-06-02 18:19] ebjorklund01 opened #135 "Error when mocking File class"
Running into a strange bug with returning a mock of the File class. I am unit testing a method that is storing some byte data into a local file. The code that I am testing looks like the code below. The call to _fileManager.getImageFile returns a File object.

[code]

In my test file I mock the File class

`class MockFile extends Mock implements File {}`

And stub the call to ` _fileManager.getIma

[2022-06-02 18:35] felangel commented on #135
Hi @ebjorklund01 👋
Thanks for opening an issue!

It looks like `images_local_datasource.dart:66:44` is accessing the `path` which is why it needs to be stubbed. Let me know if that helps 👍

[2022-06-02 20:39] #135 closed

[2022-06-09 04:01] felangel commented on #126
Hi @Wizzel1 👋
This is because in this case the `Mock` class overrides `toString` so when you're stubbing `toString` in the `when` you're trying to `stub` the real `toString` implementation. In this case, I'd highly recommend using a real `Node` instance to verify the `toString()`.

Closing for now but feel free to comment with additional questions/comments and I'm happy to continue the conversatio

[2022-06-09 04:01] #126 closed

[2022-06-09 04:05] felangel commented on #114
@mrgnhnt96 not sure why you expect those methods to be called twice when runner is only called once. If you want them to be called twice you'd need to call runner twice like:

[code]

Let me know if that helps or if I missed something. Closing for now but I'm happy to continue the conversation 👍

[2022-06-09 04:05] #114 closed

[2022-06-09 04:06] #109 closed

[2022-06-17 04:45] n1h41 commented on #104
Hey, how can I create a registerFallbackValue for an enum ?

[2022-06-17 04:56] felangel commented on #104
You can just pass any enum value, no need to create a fake.

[2022-06-17 04:59] n1h41 commented on #104
`Bad state: A test tried to use `any` or `captureAny` on a parameter of type `METHOD`, but
registerFallbackValue was not previously called to register a fallback value for `METHOD`.

To fix, do:

[code]

This instance of `METHOD` will only be passed around, but never be interacted with.
Therefore, if `METHOD` is a function, it does not have to return a valid object and
could throw unconditionally.

[2022-06-17 12:25] felangel commented on #104
@n1h41 can’t you provide a minimal reproduction sample?

[2022-06-17 16:22] n1h41 commented on #104
as you mentioned before I passed the enum value without creating the fake. It's working. Thanks

[2022-06-24 03:03] ch-angelino commented on #122
Hey @felangel, any update on this? TIA

[2022-06-24 11:40] fredgrott opened #136 "Mocktail 0.30 error on Flutter Beta, New Dart version Verify syntax"
just like the title states under Flutter beta 3.1.0.9 dart 2.18.0

Error only shows up under compiling while the IDE will give the error that the verify function is not defined.
I only found the compilation error under running compile at tests coverage and that error is:

/D:/fluttersdk/myfluttersdk/flutter/.pub-cache/hosted/pub.dartlang.org/mocktail-0.3.0/lib/src/mocktail.dart:334:14:
Error: Expe

[2022-06-24 14:24] DioGnDev commented on #127
just create stub like this
when(() => mockLocalDataSource.cacheData()).thenAnswer((_) async => Future.value());
hope this can help

[2022-06-30 19:31] melissa-q-amica opened #137 "syntax error on dart sdk version with Flutter 3.0.3"
**Describe the bug**

When upgrading to flutter 3.0.3 I received the following error:
Expected version number after ">=" in ">=2.12-0-0 <3.0.0", got "2.12-0-0 <3.0.0".

Manually changing the version to 2.12.0 resolved this issue. I believe the hyphens or dashes are causing a syntax error.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

[2022-06-30 19:34] felangel commented on #137
Hi @melissa-q-amica 👋
Thanks for opening an issue!

Can you clear your pub cache and try again?

[code]

[2022-07-12 10:55] bojanivanovski commented on #137
Issue still occurs after
`dart pub cache clean`

[2022-07-15 23:46] fredgrott commented on #136
There was a linter change sometime in 2022.

Now official linter version is enforcing the no private types in public apis.

But that still does not explain why I can roll back to mocktail 0.2.0 as that version also
uses a private type for the public verify method.

[2022-07-16 09:49] basti12354 commented on #45
Hi,

I am having a similar issue.

I am having a class that handles notifications (final locator = GetIt.instance):

`class WorkoutNotificationsCreatorAndRemover {
  WorkoutNotifications workoutNotificationsObject = WorkoutNotifications();
  NotificationRepository _notificationRepository = locator<NotificationRepository>();
  NotificationService _notificationService = locator<NotificationService>(

[2022-07-16 09:54] basti12354 opened #138 "Mocked function is not getting called instead throws type 'Null' is not a subtype of type 'Future<void>'"
Hi,

I am having a class that handles notifications (final locator = GetIt.instance):

[code]

To test this class I created the following test:

[code]

**Issue: print("showScheduledNotification was called"); is never called**
Instead of the mock the original method in class "NotificationService" is getting called and I am getting the "type 'Null' is not a subtype of type 'Future<void>'" error.

[

[2022-07-16 16:17] felangel commented on #138
Hi @basti12354 👋
Thanks for opening an issue!

Can you please share a reproduction sample as well as the full error/stack trace? The stackTrace should point to the line of the method that isn’t being stubbed properly — it sounds like you just forgot to stub a method that is being called and returns a Future<void>.

[2022-07-16 21:20] basti12354 commented on #138
Hi @felangel,

thanks for your answer :)

I tried to create a new project with the least amount of code to share this issue with you. In the new project everything was working.

My problem was that I was creating two different "Workout" objects. One to stub the method and another/different object to make the actual test call.

`
    Workout workout = **TestObjects.createTestWorkoutOfTheDay();**

[2022-07-16 23:29] #138 closed

[2022-07-17 21:10] garrettlove8 opened #139 "Mocking AWS Amplify Session in methods"
Originally posted this on SO [here](https://stackoverflow.com/questions/73015117/mocking-aws-amplify-in-flutter-unit-tests).

I have a UserRepository class and pass it an Amplify Auth Session object upon being instantiated, which it then stores for later use.

I'm trying to mock this out in my unit tests. After following the guides, I get this error:

`_TypeError (type 'Null' is not a subtype of t

[2022-07-17 21:31] felangel commented on #139
Hi @garrettlove8 👋
I believe it’s because you are returning a new mock instance rather than the stubbed instance:

[code]

[2022-07-17 21:58] garrettlove8 commented on #139
@felangel Thanks for such a quick response. After trying that, it give the error: `The return type 'MockAuth' isn't a 'FutureOr<AuthSession>', as required by the closure's context.`

[2022-07-17 22:00] felangel commented on #139
Np! That means you probably need to return a mock instance of AuthSession rather than Auth. If you’re still having trouble the easier thing would be if you could provide a link to a minimal reproduction sample, thanks!

[2022-07-17 22:13] garrettlove8 commented on #139
Not sure that I can fully provide a reproducible sample since it realize on an AWS Session, but at the very least here's the full code:

[code]

[code]

[2022-07-17 23:49] garrettlove8 commented on #139
@felangel Hey now that I think about it, I believe I was using a mocked instance of `AuthSession` originally:

[code]

Only problem is it looks like this may have been causing the error.

[2022-07-18 04:01] felangel commented on #139
Yeah that’s what I was trying to point out. You shouldn’t be returning a different MockAuthSession instance because that instance doesn’t have any stubs.

[2022-07-18 08:40] petrnymsa opened #140 "Stub / When a closure / lambda expression"
Suppose we have following class (DbContext from Drift Sqlite database)

[code]

and a class which uses this Context

[code]

This class I want to unit test, it contains more complex methods, this is just an example.

[code]

Issue is that as soon as code hits ` _dbContext.userProfiles((dao) => dao.getByUserNameAndServer(userName: userName, server: server))` it throws **type 'Null' is not a subtype

[2022-07-18 21:25] garrettlove8 commented on #139
Ok I think I'm a little confused. Is the issue that even though I'm using a mocked Auth object and stubbing `.fetchAuthSession` I still have to use a mocked AuthSession which is stubbed correctly?

If so, I've tried this code, but it still gives the original error:
[code]

[2022-07-18 21:45] mousedownmike commented on #139
@garrettlove8 I use `CognitoAuthSession`... here's  what I'm doing in my test:

[code]

[2022-07-18 22:12] garrettlove8 commented on #139
@mousedownmike Thank you so much for posting that, very helpful to get a bigger picture view and it appears as though I wasn't mocking out the correct things.

I now have a stripped down version of your example but it seems to be working the same way. However, it now gets hung up on line 257 in invoke.dart - `await fn();`

Here is what I have:
import 'dart:async';

[code]

[2022-07-18 22:20] mousedownmike commented on #139
@garrettlove8, I'll see if I can make a minimal repo this evening to show the AuthRepository implementation.

[2022-07-19 00:01] garrettlove8 commented on #139
Thank you so much, that would amazing!

[2022-07-19 03:52] mousedownmike commented on #139
I can't seem to get a minimal repo working with my current XCode setup but here's my `auth_repository.dart`.  The `get profile` and `get apiToken` methods are some customizations that pull some non-standard attributes from the JWT token and can probably be ignored.

[code]

[2022-07-19 04:18] mousedownmike commented on #139
I spoke too soon!  Here's a minimal(ish) repo that's working for me.  I had to hold back the flow_builder library version to get it to work so I'm probably due for some upgrades.

https://github.com/mousedownco/amplify_auth

You'll need to add your Cognito parameters here:
https://github.com/mousedownco/amplify_auth/blob/main/lib/main.dart

[2022-07-19 11:21] garrettlove8 commented on #139
Ok I think I'm getting it now. Looks like you're mocking your entire AuthRepository and skipping the amplify part all together. I update the way my code is structure to accommodate that:

[code]

Then in my test it becomes easier to mock things out:

class MockUserRepository extends Mock implements UserRepository {}

[code]

I'm still a little fuzzy on how the AWSCredentials part works and if I ta

[2022-07-19 15:37] mousedownmike commented on #139
@garrettlove8 It depends on where you're looking.  I test my `AuthRepository` in the [`auth_repository` package](https://github.com/mousedownco/amplify_auth/tree/main/packages/auth_repository).  There I mock the Amplify pieces to verify my `AuthRepository` interactions with the Amplify library.  I try not to test the `amplify_flutter` libraries directly because we hope that AWS has done that alrea

[2022-07-26 04:48] Dan-Y-Ko opened #141 "Issue with mocking where method in Firestore query."
Hello,
I am getting the classic "Error type 'Null' is not a subtype of type 'Query<Map<String, dynamic>>'" error but I have stubbed the method and I am still getting this error.

Here's screenshot of the error: [https://imgur.com/a/Zqhu2oe](url)

Actual code:

[code]

Test code:

[code]

I decided to play around with the query and did a direct query on the document instead of querying on the colle

[2022-07-27 09:42] premiumbiscuit opened #142 "Bad state error when the mocked class implements an abstract class"
Hey,

I had a question with regards to mocking classes that implement abstract classes. I keep getting this error: `Bad state: No method stub was called from within 'when()'. Was a real method called, or perhaps an extension method?` whenever I try to mock a class implementing an abstract class. But, if I drop the abstract class then the `when` clauses capture usages successfully.

Is that by desi

[2022-07-28 12:43] renancaraujo commented on #142
Hello there,

The mock should be working fine.

Just tested your example locally with mocktail `0.3.0` and I couldn't reproduce your error.

[code]

Make sure `mockProgramDataSource` is an instance of the mock class, not `ProgramDataSource` directly.

Also, `day` ins your example is DateTime and you call it with an integer.

[2022-07-29 15:57] chornthorn commented on #140
I got the same error! any help, please!

[2022-08-05 05:31] regisksc commented on #137
I'm also experiencing this bug with Mocktail and Mockingjay.

Changing sdk to 2.12.0 does not solve it.

Error message:
Invalid version constraint: Expected version number after ">=" in ">=2.12-0-0 <3.0.0", got "2.12-0-0 <3.0.0".

[2022-08-06 02:32] felangel commented on #137
I would recommend removing `mocktail` from pub-cache and reinstalling. Also please ensure you're using the latest version of mocktail by checking the version in your `pubspec.lock`.

If you're still having trouble can you please share a link to a minimal reproduction sample? Thanks!

[2022-08-06 08:43] premiumbiscuit commented on #142
Yep, my mistake. The actual issue was because I had a function returning an instance of the mock, but with a dynamic type return.

[code]

But adding the correct type signature will make things work as intended.

[code]

Apologies for the confusion.

[2022-08-06 08:43] #142 closed

[2022-08-08 22:42] regisksc commented on #137
my flutter doctor:

[✓] Flutter (Channel stable, 3.0.5, on macOS 11.4 20F5046g darwin-x64, locale pt-BR)
    • Flutter version 3.0.5 at /Users/regisksc/Dev/flutter
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revision f1875d570e (4 weeks ago), 2022-07-13 11:24:16 -0700
    • Engine revision e85ea0e79c
    • Dart version 2.17.6
    • DevTools version 2.12.2

[!]

[2022-08-11 23:26] JErazo7 opened #143 "Incompatibility when specifying a data type to a variable that receives a mocked response in mocktail 0.3.0"
**Describe the bug**

If a data type is specified to a variable that receives the mocked response, an exception is thrown with the following message: `type 'Null' is not a subtype of type .....`

Example:
[code]

This works:
[code]

This does not work:
[code]
**To Reproduce**
Steps to reproduce the behavior:

1. Clone this example repository: https://github.com/JErazo7/test_mocktail
2. Run the tes

[2022-08-26 10:43] Avendo07 opened #144 "Unable to mock functions with functions as argument"
**Describe the bug**
Unable to mock  and/or verify functions which take in function/callback as an argument

**Reproducible Code**
[code]

**Expected behavior**
The above code shows "type 'Null' is not a subtype of type 'bool'".
Whereas it should have mocked the function. This works if I replace the function (i.e. () => true) with "any()", but then I am unable to verify if this function was trigge

[2022-09-02 16:31] mugbug opened #145 "question: how do I mock a stream's `listen` method?"
Let's say I have the following implementation:

[code]

And I want to test if when `Bar`'s stream emits some events after `Foo` is instantiated, all of those are recorded on a `EventTracker`.

Here's what I currently have, that works just for the first event:

[code]

Am I mocking this in the correct way? Any idea why only the first event is emitted/captured?

[2022-09-02 17:19] micaelcid commented on #145
You have to listen `mockBar.stream` in your test and then call `verify` and `expected` inside the `listen` callback:

[code]

[2022-09-03 00:43] mugbug commented on #145
**[SOLVED]**

Ok, so I was able to solve this in a reasonable way: basically, it seems the problem was related to asynchronicity. When `verify` was called, the stream didn't have finished emitting all events. So to make it wait so all events were emitted before verifying the calls, I implemented this method:

[code]

which can be called before the `verify`:

[code]

[2022-09-03 00:43] #145 closed

[2022-09-06 08:32] alestiago opened #146 "Warning when a registerFallbackValue is never used"
**Description**
As a user I would like to get a warning whenever a fallback value has been registered but has never been used.

[code]

**Possible solutions**
- Runtime warning
- Custom analyser lint rule

**Describe alternatives you've considered**
N/A

**Additional context**
- https://invertase.io/blog/announcing-dart-custom-lint

[2022-09-07 08:42] metalbass opened #147 "[Question] How to mock VoidCallback parameters"
I'm testing a class that receives a VoidCallback in its constructor, which is going to be called after submitting a text field.

[code]

For which I had to declare:
[code]

and adapt during construction:
[code]

Is there a better way with less boilerplate? I have the feeling that there must be an easier way I'm overlooking.

[2022-09-13 12:12] AhmedEzio47 commented on #138
@basti12354 I've done exactly like you and the issue still persists,
`
  var defaultOfferParams = OfferParams(offerId: 'test');

  void arrangeUnblockOfferSuccess() {
    when(() => unblockOfferUseCase.call(defaultOfferParams))
        .thenAnswer((_) async => Right(UnblockingEntity(code: 'test')));
  }
blocTest<ActivationBloc, ActivationState>(
        'check that UnblockOfferUseCase gets called'

[2022-09-13 12:50] AhmedEzio47 opened #148 "type 'Null' is not a subtype of type 'Future<Either<Failure, UnblockingEntity>>"
Hi,
The following error gets thrown and thenAnswer part never gets called:
type 'Null' is not a subtype of type 'Future<Either<Failure, UnblockingEntity>>'

That's how I mock my use cases:
`class MockUnblockOfferUseCase extends Mock implements UnblockOfferUseCase {}
class MockLogAnalyticsEventUseCase extends Mock
    implements LogAnalyticsEventUseCase {}
`

That's how I stub their methods:
`  voi

[2022-09-14 01:15] maks opened #149 "Not possible to hit breakpoint when using Mocktail due to Dart Debugger bug"
@felangelov might be worth adding a note to Mocktail's Readme to warn people about this rather nasty Dart debugger bug when trying to set breakpoints as it seems to affect me using Mocktail also: https://github.com/dart-lang/sdk/issues/43197#issuecomment-1154094492

I just ran into it myself now after an hour of head scratching trying to figure out what on earth was going on.

[2022-09-14 01:18] felangel commented on #149
Hi @maks 👋
Thanks for opening an issue!

Are you able to provide a link to a minimal reproduction sample using `mocktail`? I don't think I've ever run into this issue myself 🤔

[2022-09-14 01:56] maks commented on #149
@felangel sure thing. Its basically the same as what @DanTup has in his example:

`calc.dart` in your apps `lib` dir:
[code]

then in your `test` dir bad_test.dart:
[code]

And per the code comments, set breakpoint on line 3 print() of Calc class, run test under debug (I use the little "codelens" link in VSCode above the test function definition), breakpoint **never** hit.
Comment out the line in

[2022-09-26 14:24] MarcoAFC opened #152 "Bump test dependency to last release"
**Is your feature request related to a problem? Please describe.**
Current build depends on an older version of test, which creates a transitive dependency on analyzer < 5, making it incompatible with later releases of packages that depend on analyzer >= 5 (such as the latest release of freezed)

[code]

**Describe the solution you'd like**
I'd like a new release, compatible with later releases of

[2022-09-28 13:58] felangel commented on #152
Hi @MarcoAFC 👋
Can you please provide a sample `pubspec.yaml` that illustrates the issue?

It seems a bit strange to me because mocktail doesn’t require a strict version of package:test and the version range is permissive of the latest version. Thanks!

[2022-09-28 14:13] MarcoAFC commented on #152
Hi!

It seems the error actually only appears when using both freezed and bloc,

So, this is enough to break:

[code]

[2022-09-28 15:15] felangel commented on #152
@MarcoAFC I took a closer look and it looks like freezed requires `analyzer ^5.0.0` which is incompatible with the latest stable version of `flutter_test` and `package:test`:

[code]

[2022-09-29 18:45] fredgrott commented on #136
Seems to hang on the _Verify get verify block IDE lists as function verify is not defined.

And I fix it by switching to Mocktail 0.2 and then the verify function is recognized.

[2022-09-29 18:45] fredgrott commented on #136
Just verified by reworking the basic bloc counter example

[2022-09-29 18:52] felangel commented on #136
@fredgrott can you provide a link to a minimal reproduction sample with reproduction steps? I'm not able to reproduce the error (the lint rule is something that will be addressed shortly but it shouldn't result in any compilation errors).

[2022-10-01 20:32] rivella50 opened #156 "Test if a function has been called"
Hi there,
i have the following situation: I have written a new function `void onChildrenChanged(Component component)` which i would like to test if it gets called during the process of adding a `Component` child to a `RowComponent` parent. So we have:
[code]
At the end of this add process the mentioned function `onChildrenChanged` is called in the parent with child as the parameter.
Now i wonder h

[2022-10-12 01:10] rddewan opened #157 "type 'Null' is not a subtype of type 'Future<LoginResponse>'"
**Describe the bug**
I am trying to write a test for a method that calls another method that returns a value, but the stub is never called

Repository Class
[code]

Base Repository
[code]
Test
[code]

**Expected behavior**
It should call the stub

**Logs **
[code]

Paste the output of running `flutter doctor -v` here.
[code]

[2022-10-12 01:13] rddewan commented on #144
i have a same type of situation , i tried  both mocktail and mokito both of it does not work
https://github.com/felangel/mocktail/issues/157

[2022-10-12 19:12] LeonardoRosaa commented on #157
Can you try something like that?

[code]

[2022-10-14 07:50] lsaudon opened #158 "Dependabot doesn't work."
**Describe the bug**

Dependabot has been set to the `daily` interval for 16 days.
There has never been a pull request.

[2022-10-14 16:19] felangel commented on #152
@MarcoAFC what are your thoughts? I believe we should close this issue as it's not a mocktail issue.

[2022-10-17 21:57] renancaraujo commented on #130
This works as intended. While reset and `clearInteractions` refer to the state of a specific Mock object, `resetMocktailState` is about the global state of mocktail, which includes things like if there is verification in progress (true in between calling`verify` and `called`, for example) or captured arguments.

[2022-10-17 21:57] #130 closed

[2022-10-19 01:22] amondnet opened #159 "dart 2.19 doesn't delegate inaccessible private names to noSuchMethod."
**Is your feature request related to a problem? Please describe.**

Dart 2.19 doesn't delegate inaccessible private names to noSuchMethod.

https://github.com/dart-lang/sdk/blob/main/CHANGELOG.md#2190
https://github.com/dart-lang/language/issues/2020
https://github.com/dart-lang/sdk/issues/49687
https://github.com/dart-lang/site-www/issues/4263

https://github.com/mobxjs/mobx.dart/blob/master/mobx

[2022-10-19 04:14] felangel commented on #159
Hi @amondnet 👋
Thanks for opening an issue!

Are you able to provide a minimal reproduction sample? If not, I can try to take a look at the mobx tests shortly but it would be much easier if you were able to provide a minimal reproduction sample without any additional dependencies/complexity. Thanks!

[2022-10-20 10:01] EArminjon opened #160 "Missing doc"
In the following example, if the function sleep accept some argument, how avoid the issue mentioned ?

[code]

![Capture d’écran 2022-10-20 à 11 57 48](https://user-images.githubusercontent.com/37028599/196918488-9f935dec-7a4b-4105-8cf1-d82a5f6d75e8.png)

[2022-10-20 10:46] #160 closed

[2022-10-21 02:30] felangel commented on #159
@amondnet I just tested with the Dart dev release (`Dart SDK version: 2.19.0-318.0.dev (dev) (Tue Oct 18 13:21:13 2022 -0700) on "macos_arm64"`) and was not able to reproduce. What's the exact version of Dart you're using?

[2022-10-21 14:12] amondnet commented on #159
@felangel

Yes, as you already know, we can call private methods in the same file.

The tests work fine if they are in the same file. But if I split the file, test fails.

https://github.com/amondnet/mocktail_dart_2_19/blob/main/lib/mocktail_dart_2_19.dart
https://github.com/amondnet/mocktail_dart_2_19/blob/main/test/same_file_test.dart

https://github.com/amondnet/mocktail_dart_2_19/actions/runs/

[2022-10-21 14:22] felangel commented on #159
What’s the exact version of Dart you are using?

[2022-10-21 14:32] amondnet commented on #159
@felangel

https://github.com/amondnet/mocktail_dart_2_19/actions/runs/3298075777/jobs/5439719989

Dart SDK version: 2.19.0-255.2.beta (beta) (Tue Oct 4 13:45:53 2022 +0200) on "linux_x64" : fail
Dart SDK version: 2.19.0-318.0.dev (dev) (Tue Oct 18 13:21:13 2022 -0700) on "linux_x64" : fail

Dart SDK version: 2.19.0-255.2.beta (beta) (Tue Oct 4 13:45:53 2022 +0200) on "macos_x64": fail
Dart SDK ve

[2022-10-21 15:29] felangel commented on #159
@amondnet I think the proper thing to do in this case is refactor `mobx` so that `reportObserved` is `protected` instead of private. There's not really much that `mocktail` or `mockito` can do in this case unfortunately.

[2022-10-21 18:52] felangel commented on #152
Closing for now since there are no actionable next steps. Feel free to comment with any follow-ups, thanks! 👍

[2022-10-21 18:52] #152 closed

[2022-10-25 20:22] felangel commented on #159
Closing for now since there are no actionable steps to be taken in mocktail.

[2022-10-25 20:22] #159 closed

[2022-10-26 08:33] R4dix commented on #38
I think this feature would be great and it could be implemented like this:
`MockClass extends PartialMock implements Class`
What do you think?

[2022-10-31 21:15] lukaszdebowski commented on #156
`onChildrenChanged` seems like it would notify some external listeners, looking at the name.

Assuming that is true, I would imagine you could do something like:

[code]

Or, you could also create a `TestRowComponent` which extends RowComponent and overrides the `onChildrenChanged` method like this:

[code]

[2022-10-31 21:31] lukaszdebowski commented on #157
You don't need to mock the `BaseRepository`. Mocking the `LoginApiService` should be enough to make you test work.

[2022-11-01 03:53] rddewan commented on #157
I could not pass the test , I changed my `BaseRepository` to a mixin and switch to mokito it works but does not pass with mocktail

[2022-11-01 06:21] rivella50 commented on #156
Meanwhile i went for the 2nd approach which worked fine.
Thanks for your answer.

[2022-11-01 06:21] #156 closed

[2022-11-03 07:33] lukaszdebowski opened #162 "Arguments with type generics are not properly verified using any()"
**Describe the bug**
I have the following code:

[code]

and then the following test:

[code]

This test throws an error

[code]

If I change the test to instead verify like that:

[code]

It starts matching the call correctly.

I would imagine matcher `any()` should match the same way as `Argument('value')`.

Also, the issue goes away if I remove the type generic parameter from the service's meth

[2022-11-05 10:45] raxahai opened #163 "Invalid argument(s): The "any" argument matcher is used outside of method stubbing (via when) or verification (via verify or untilCalled). This is invalid, and results in bad behavior during the next stubbing or verification."
[code]

[2022-11-08 06:10] gaurishankar007 commented on #45
This is a problem with the null safety.

[2022-11-09 16:34] dorontal opened #164 "Cannot install package `mocktail v0.3.0` with `build_runner 2.3.2` - version solving fails"
**Describe the bug**

it's not possible to use `mocktail` with `build_runner` - both current versions - seem to clash and version solving reports an error.

The current `mocktai`l package v`0.3.0` is not building when added to a new project.

When you run `flutter pub get` with `mocktail` having been just added, you get the following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:

[2022-11-09 21:28] felangel commented on #164
Hi @dorontal 👋
Thanks for opening an issue!

I am not able to reproduce. The `pubspec.yaml` I have looks like:

[code]

And I'm able to run `flutter packages get` with no issues.

The generated lock file is:

[code]

Does the above `pubspec.yaml` not work for you as well?

[2022-11-09 21:54] dorontal commented on #164
Hi @felangel, please accept my apologies for reporting less than I should have.

Originally I thought the conflict was with package `build_runner` - it is.

Try adding `build_runner` as a package - that's when I had the version solving failure.

[2022-11-10 00:59] dorontal commented on #164
The `pubspec.yaml` for that test code (created by VSCode on new project, with manually added `mocktail` and `build_runner`) that failed version solving is (relevant excerpt):
[code]

[2022-11-10 02:26] dorontal commented on #164
The `pubspec.yaml` for that test code (created by VSCode on new project, with manually added `mocktail` and `build_runner`) that failed version solving is (relevant excerpt):
[code]

[2022-11-13 20:49] Sureya commented on #164
I am also facing the same issue with the following dependecies

[code]

[2022-11-14 14:08] se1ya commented on #164
Same problem for me. Fixed it with `test_api` dependency override like:
  `dependency_overrides:
    test_api: 0.4.16`

[2022-11-14 16:32] felangel commented on #164
Unfortunately, it doesn't appear to be related to `mocktail`. The following `pubspec.yaml` has the same issue:

[code]

With `build_runner 2.3.2` and `flutter_test` it's not possible to resolve any version of `package:test`.

[2022-11-15 16:53] felangel commented on #164
Closing this as it appears to be fixed on the `master` channel of `flutter`.

[2022-11-15 16:53] #164 closed

[2022-11-16 16:23] #158 closed

[2022-11-16 16:24] #137 closed

[2022-11-16 16:25] felangel commented on #136
Closing for now since there is no reproduction sample and it's been quite some time since this was created. Feel free to provide a reproduction sample if this is still an issue and I'm happy to reopen this.

[2022-11-16 16:25] #136 closed

[2022-11-16 16:26] felangel commented on #157
@rddewan can you provide a link to a minimal reproduction sample?

[2022-11-16 16:29] felangel commented on #127
Glad you were able to solve this. It looks like this is working as expected but if you have suggestions for how to improve the error message let me know. We can try adding more info like if you have stubbed the method be sure to verify the stubbed arguments match the real arguments? Not sure if that would make it more clear.

[2022-11-16 16:30] felangel commented on #148
Hi @AhmedEzio47 👋
Thanks for opening an issue!

Can you please provide a link to a minimal reproduction sample? It would be much easier to help if I can run the reproduction sample locally. Thanks!

[2022-11-22 20:06] wer-mathurin opened #166 "Support the latest Analyzer"
@felangel
The current dependency to
test: ^1.16.0 that rely on an old analyzer version

any plan to upgrade to at least
test: ^1.21.6

[2022-11-26 21:39] elias8 commented on #166
Hi @felangel 👋

`mocktail` is causing a conflict with other dependencies because of the outdated `test` package it depends on. In my case, removing/disabling `mocktail` fixes the issue. See the attached screenshot for more info. In the meantime, I can open a PR for it.

<img width="1743" alt="Screenshot 2022-11-27 at 12 27 51 AM" src="https://user-images.githubusercontent.com/18151864/204109892-78

[2022-11-26 22:16] felangel commented on #166
@elias8 this looks like a duplicate of https://github.com/flutter/flutter/issues/115284.

[2022-11-26 22:40] elias8 commented on #166
Yeah. I tried to upgrade `mocktail` dependencies and doesn't seem to fix the issue.

[2022-11-26 22:40] felangel commented on #166
Closing since this is a duplicate of https://github.com/flutter/flutter/issues/115284 and has been fixed but hasn’t yet made it to the stable Flutter channel afaik

[2022-11-26 22:40] #166 closed

[2022-11-29 01:19] DiegoVega19 opened #168 "Flutter Secure Storage Mock Throws type 'Null' is not a subtype of type 'Future<String?>'"
Hello, could someone suggest me an idea how to solve this?
When im trying to mock flutter secure storage i get this error " type 'Null' is not a subtype of type 'Future<String?> "

-This is my storage

import 'package:flutter_secure_storage/flutter_secure_storage.dart';

abstract class IStorage {
  Future<void> saveData(String value, String key);

  Future<String> getId(String key);
}

class MySto